[2014-07-11 06:17] dustinfarris opened #1 "Create blueprints"
So users can easily extend with:

[code]

or

[code]

[2014-07-13 20:20] #1 closed, assigned to nobody

[2014-07-21 17:48] dustinfarris opened #3 "Need tests"
Will probably take inspiration from ember-data-django-rest-adapter plus whatever enhancements are needed to make tests work for an addon package.

[2014-07-26 06:43] dbinetti opened #4 "namespace not being set"
PREFACE: I am a complete and total noob, so forgive me if I'm missing something, but the namespace parameter does not seem to be honored when making requests of the API.

My config:
[code]

In console:
[code]

Notice that it is hitting the root url.  Also, if I change my API itself to serve at the root, all is well.

[2014-09-18 05:11] treyhunner opened #6 "Addon not seen by ember-cli"
I installed by running:

[code]

The directory `node_modules/ember-django-adapter` exists in my project.

In the browser `DS.DjangoRESTAdapter` is `undefined`.

Generating a blueprint fails:

[code]

When I place the following in `app/adapters/application.js` I receive an error on `ember serve`:

[code]

The error I see on `ember serve`:

[code]

[2014-09-27 07:14] holandes22 opened #7 "ember serve fails with "Cannot read property 'pkg' of null" after installing the addon"
Doing a pull request soon. Opening this issue to refer to it in the changelog.

The issue is that after installing the addon with ember-cli 0.4.6

I get: Cannot read property 'pkg' of null TypeError: Cannot read property 'pkg' of null

stack trace is not very helpful to me as I'm not familiar with ember-cli internals, but I did notice that it has this entry in package.json:

[code]

It appears tha

[2014-09-27 07:26] #6 closed, assigned to nobody

[2014-09-27 07:30] #7 closed, assigned to nobody

[2014-10-01 15:40] nikolas opened #9 "ember-cli error after installing ember-django-adapter"
Hi, I installed this addon in my project with `npm i --save-dev ember-django-adapter`, and now the `ember` command gives me an error whenever I invoke it.

I'm using ember-cli 0.0.46. Here's the error log: http://dpaste.com/2HY7V3H

[2014-10-01 16:42] #9 closed, assigned to nobody

[2014-10-24 15:05] benkonrath opened #10 "Are you interested my work re-writing the django ember adapter / serializer from scratch?"
I've decided that it's a better to re-write the Django adapter considering that current adapter has been developed over a long period of time and doesn't always take into account the changes in ember-data.

The goals for the new adapter are as follows:
- Ability to support Django REST Framework APIs without modifications to the default configuration of Django REST Framework.
- Ensure as much as po

[2014-10-24 16:35] #10 closed, assigned to nobody

[2014-11-01 19:19] #3 closed, assigned to nobody

[2014-11-05 21:53] holandes22 opened #13 "Configuration issues in version-1.0 branch"
Hi,

I installed the version-1.0 using npm.

I encountered some issues:
-  When trying to use the store, I get this error

[code]

This coming from  app/adapters/application.js, at this line

[code]

If I change the line wih ENV.APP:API_HOST mentioned in the item above, this gets resolved
- Minor issue, previous version was listed in the console log upon initialization (along with other addons), t

[2014-11-13 12:27] holandes22 opened #14 "Version 1 is failing with No model was found error - Need to implement extractSingle"
Hi,

Finally got some time to investigate a little more. Here is an issue I'm having using the version 1.0 branch.
I get this error when I try to find a user:

[code]

ED is using extractSingle method to handle this, because the response is

[code]

But, since it is expecting something like this:

[code]

it's assuming the first key is the model type to search for, but of course fails to find one.

[2014-11-13 13:54] holandes22 opened #15 "Version 1 is failing when creating/updating models"
Similar to issue #14 , this fails since the API is not expecting a root key (ED by default wraps the payload in a root key)

In order to make it work I added to the serializer the following method:

[code]

@benkonrath did you encounter this issue as well? I want to open PRs both for this and #14 but waiting on your PR for adding tests, any luck with that?

[2014-11-15 19:54] #13 closed, assigned to nobody

[2014-11-18 15:36] dustinfarris opened #19 "pathForType/buildURL should dasherize CamelCase types"
## To reproduce
1.  `DRFAdapter.pathForType('FurryAnimals');`
## Expected result
- `furry-animals`
## Actual result
- `furryanimals`

[2014-11-18 16:18] dustinfarris opened #20 "Review `extractSingle` method parameters"
The signature of `DRFSerializer.extractSingle` is:

[code]

`requestType` is not used, and it is not present in the [parent class method](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/serializers/rest_serializer.js#L263).  Safe to remove?

[2014-11-18 16:21] dustinfarris opened #21 "Review `extractMeta` implementation"
Is this correct?

[code]

[2014-11-18 16:40] dustinfarris opened #22 "Pagination"
This is a placeholder to carry over the discussion from the legacy adapter:

See:
- toranb/ember-data-django-rest-adapter#104
- toranb/ember-data-django-rest-adapter#80

[2014-11-18 16:43] dustinfarris opened #23 "Add integration tests for relationships"

[2014-11-18 16:45] dustinfarris opened #24 "Support DRF writable nested relationships"

[2014-11-18 19:36] #14 closed, assigned to nobody

[2014-11-18 19:37] #15 closed, assigned to nobody

[2014-11-18 19:45] holandes22 opened #25 "Setup CI for automatic release process"
Placeholder for discussion on CI

Once unit + integration tests are merged in the 1.0 branch we should set a CI service to run them automatically.

The CI might also be used to automate releases (run tests + tag + upload to npm)

I recall @benkonrath mentioning circle CI, I'm not familiar with it, but with travis.

Thoughts?

[2014-11-18 19:52] #25 closed, assigned to nobody

[2014-11-18 20:27] #20 closed, assigned to nobody

[2014-11-19 08:25] benkonrath opened #29 "Add serialization for datetime"
We should be able to copy the code and maybe the tests from the old adapter.

[2014-11-19 12:06] benkonrath opened #31 "Set a new name for the adapter's defaultSerializer property"

[2014-11-19 15:34] #19 closed, assigned to nobody

[2014-11-19 16:31] g-cassie opened #32 "Choose strategy for looking up async hasMany relationships"
TLDR: determine whether and how to support optimized queries for async hasMany relationships.

In Toran's original ED adapter, hasMany records were looked up using a nested url structure (e.g. `/dealerships/1/cars/`.  To my knowledge this was a design decision made by Toran that is not mandated (or suggested) by either ED or DRF.

ED introduced the `coalesceFindIds` option in beta.9 as its solutio

[2014-11-29 16:40] benkonrath opened #33 "Investigate why it's not possible to set an empty host for the integration tests"
A cut & paste from a comment in PR #18:

[2014-12-08 10:29] #29 closed, assigned to dustinfarris

[2014-12-08 10:35] #31 closed, assigned to nobody

[2014-12-11 06:19] dustinfarris opened #36 "Add documentation"
We need to start thinking about where we want to put the documentation for the adapter.  Previously, I used GitHub's [wiki for the original adapter](https://github.com/toranb/ember-data-django-rest-adapter/wiki), and it worked ok.  Not sure if it is the best option, but it's right there and requires zero setup.

Other options might include:
- [Sphinx](http://sphinx-doc.org/) and [RTD](https://read

[2014-12-11 07:52] #21 closed, assigned to nobody

[2014-12-14 12:21] #36 closed, assigned to dustinfarris

[2014-12-15 10:13] benkonrath opened #40 "Specify a version for Ember Data in the docs"
Our docs currently specify the requirements as follows:
- Django REST Framwork >= 3.0
- Ember CLI >= 0.1.0

We also require Ember Data >= 1.0.0-beta.12 but I don't know what this implies for the version of Ember and Ember CLI. There's some information on the Ember blog about Ember 1.7 support being dropped in 1.0.0-beta.13 and it seems to recommend Ember 1.8.

http://emberjs.com/blog/2014/11/24/em

[2014-12-15 10:16] #22 closed, assigned to benkonrath

[2014-12-23 16:16] alexlafroscia opened #41 "Is pushSinglePayload still supported?"
The app I'm working on right now currently uses this method, [which is available in the other, non-CLI library](https://github.com/toranb/ember-data-django-rest-adapter/blob/master/src/serializer.js#L102-L106).  However, now that we're moving to the CLI and trying to use this CLI addon, it's no longer working.  What would be the right approach to fixing this?

[2014-12-24 09:21] #41 closed, assigned to benkonrath

[2014-12-29 16:10] #40 closed, assigned to nobody

[2015-01-02 00:55] ewilson opened #43 "Problem with Access-Control-Allow-Origin"
I don't know if this is a failure of this adapter, or of the documentation, or of my understanding of DRF, or of my understanding of the web. But I'm posting it here so that it can be seen by others that have worked on Django/DRF/ember-cli apps.

So I followed the documentation here, and receive the following error in the console:

    XMLHttpRequest cannot load http://localhost:8000/tournaments/?

[2015-01-02 04:17] ewilson commented on #43
OK, was not including port 4200 on the port in the whitelist. Closing ... but feel free to comment if the django-cors-headers is actually unnecessary.

[2015-01-02 04:17] #43 closed

[2015-01-05 01:31] ewilson opened #44 "I don't understand these unmet dependencies"
Trying to install the adapter, and get all of these. Don't know that it causes a problem, but don't understand how to eliminate them.

    wilsone123 [20:28:34] $ npm i --save-dev ember-django-adapter
    npm WARN unmet dependency /Users/wilsone123/code/titlematch_web/node_modules/ember-cli/node_modules/tiny-lr/node_modules/body-parser requires qs@'2.2.4' but will load
    npm WARN unmet dependenc

[2015-01-05 11:33] ewilson opened #46 "Dev mode fails, prod mode works."
This is what I see in the console when dev mode fails with the adapter. When I run as:

    $ ember serve --environment production

It seems to work fine. I'll use that as my dev mode for now.

You can look at my code at https://github.com/ewilson/titlematch_web

Error while processing route: tournaments.index Could not find module ember-django-adapter/adapters/drf Error: Could not find module emb

[2015-01-05 11:41] holandes22 commented on #46
I saw something similar when I tried to add ic-autocomplete to the Brocfile. It was failing on the drf adapter just as a coincidence for being the first. Try remove the ember-data includes and see what happens (not sure you need it anyway as ember-cli knows to minify the asset for production)

[2015-01-05 12:20] ewilson commented on #46
OK, removed the following (assuming that's what you meant) and it works now.

    app.import({
        development: 'vendor/ember-data/ember-data.js',
        production:  'vendor/ember-data/ember-data.prod.js'
    }, {
        'ember-data': [
            'default'
        ]
    });

Please let me know if that isn't what you meant to do (if I've removed too much.)

[2015-01-05 12:52] holandes22 commented on #46
Yes, that was exactly what I meant. Glad to hear it's working

[2015-01-05 13:42] dustinfarris commented on #46
@ewilson can we close this?

[2015-01-05 13:45] #46 closed

[2015-01-05 22:13] ewilson opened #47 "posting date Date has wrong format. Use one of these formats instead: YYYY[-MM[-DD]]"
When I save a model that has a JS date (created with `new Date()`) I get the error:

The date in the post was `2015-01-05T22:08:37.838Z`. So is this:
- a defect?
- something I should handle in the ember frontend, to format the date?
- something I should handle in the django api?

Appreciate any help.

[2015-01-06 00:59] ewilson commented on #47
It seems that the issue is that I am only storing a `date` in the backend. The date is defined in my model as follows:

    event_date = models.DateField(default=date.today)

If I replace this with

    event_date = models.DateTimeField(default=datetime.now)

then everything works as expected. Nevertheless, I'd _like_ it if the adapter/DRF could convert the JS `Date` object to the appropriate day.

[2015-01-06 01:10] ewilson commented on #47
OK, I was too quick. It turns out that in the `DateTimeField` case, the API does not return 400, but it does not record the date field at all. So my workaround doesn't work actually. Whether the back-end expects a `DateField` or a `DateTimeField` it doesn't quite work. In the first case the POST returns 400. In the second case it is 200, but is silently unsuccessful.

[2015-01-06 01:35] dustinfarris commented on #47
The adapter should work with both `DateField` and `DateTimeField` without too much headache.  I am looking into this.

[2015-01-08 01:25] dustinfarris commented on #47
@ewilson this is still on my todo list.  currently battling some dev issues with ember-cli and bower

[2015-01-10 03:22] dustinfarris commented on #24
See #51

[2015-01-10 03:22] #24 closed

[2015-01-13 10:42] benkonrath opened #54 "testing with multiple versions of ember and ember-data"
Now the ED beta 14 and 14.1 are out, we should see if there's a way to test with multiple versions of ember and ember data. @dustinfarris Do you have any ideas on this?

[2015-01-13 10:56] benkonrath commented on #44
Which version of ember-cli are you using?

[2015-01-13 14:34] ewilson commented on #44
@benkonrath I'm using 0.1.6 now. I think that I was using 0.1.5 at the time that I posted this. I still see it, in any case.

[2015-01-13 14:42] dustinfarris commented on #44
I am not getting this at all.  @ewilson, how are you installing the adapter?

[2015-01-13 16:13] dustinfarris commented on #54
It looks like this isn't well supported by npm.  See npm/npm#5499.

We could do something in `circle.yml`, like:

[code]

I'm not sure if this will work.  One of us should try this out on a throw-away branch.

[2015-01-13 16:19] dustinfarris opened #55 "gh-pages still trying to run tests"
I [moved the circle config](https://github.com/dustinfarris/ember-django-adapter/commit/351e78684cda23418fb47d8c22aaf3598cbfdda1) from @benkonrath [over to the gh-pages branch](https://github.com/dustinfarris/ember-django-adapter/commit/c666d777e9d310d8ce7b8e422090832116bee697) so that it would get picked up by CircleCI at the right time only to discover that the entire branch gets overwritten eve

[2015-01-13 16:22] benkonrath commented on #54
I'll look into this tomorrow.

[2015-01-13 16:23] benkonrath commented on #55
I'm not getting the emails anymore. Maybe you were getting them because the embedded branch didn't yet have the update circle ci conf?

[2015-01-14 11:50] benkonrath commented on #54
See #56.

[2015-01-14 11:50] #54 closed

[2015-01-14 11:56] benkonrath commented on #55
I see this problem now as well.

[2015-01-14 12:21] ewilson commented on #44
I've included the command in the original post:

    wilsone123 [20:28:34] $ npm i --save-dev ember-django-adapter

I think that I installed node/npm with brew, if that matters ...

[2015-01-14 14:27] dustinfarris commented on #44
Can you try doing a clean reinstall of all dependencies?

[code]

Since the `--save-dev` flag should have added ember-django-adapter to your package.json, it should be installed along with everything else now.  Try this and see if you still get those errors.

[2015-01-14 16:07] ewilson commented on #44
Executed those commands, they work without error or warning.

If I try again:

    npm i --save-dev ember-django-adapter

I get the same warnings again. (Feel free to close is this doesn't seem important, nothing is actually broken as far as I can tell.)

[2015-01-14 16:09] dustinfarris commented on #44
ok, i still can't reproduce.  please feel free to open a new issue if this becomes problematic in the future.

[2015-01-14 16:09] #44 closed

[2015-01-14 16:27] dustinfarris opened #57 "HyperLinkedRelatedField support?"
Interesting question/answer: http://discuss.emberjs.com/t/coalescing-find-requests/7076

I didn't know you could supply links to resources with Ember.

So we could, in theory, support the [HyperLinkedRelatedField](http://www.django-rest-framework.org/api-guide/relations/#hyperlinkedrelatedfield) and possibly the [HyperLinkedIdentityField](http://www.django-rest-framework.org/api-guide/relations/#h

[2015-01-14 20:23] benkonrath commented on #57
I'm already using this in my django-filter based solution for async relationships. I can send a PR if you want to check it out but it not done. I've hard coded some stuff so it's not generalized yet.

[2015-01-14 20:32] benkonrath commented on #57
I think the code I have already supports the hyperlinked fields. I sort of dropped the ball on this one. I should have had a PR for this already. Sorry about that.

[2015-01-22 04:13] rafalp opened #59 "ajaxError implementation breaks Ember.js contract"
While Ember-Data ajaxError returns errored jqXHR (as documented), ember-django-adapter instead returns `Error(jsonErrors['detail']);` breaking contract and making any suffisticated error processing impossible due to no original error data with exception of "detail" message making it to application.

[2015-01-22 11:09] benkonrath commented on #59
Thanks for the bug report. There's definitely some inconsistency in our implementation and the comment in this adapter.

I looked at the active model adapter and it also returns the jqXHR instead of the an Error in this case (`Error(jsonErrors['detail']);`).

https://github.com/emberjs/data/blob/48c02654e8a524b390d1a28975416ee73f912d9e/packages/activemodel-adapter/lib/system/active_model_adapter.j

[2015-01-22 16:33] rafalp commented on #59
For startes I can't do what guide tells me I should be able to do:
http://emberjs.com/guides/routing/loading-and-error-substates/

Resources on ember.js forums show me that I should be able to do so:
http://discuss.emberjs.com/t/how-to-deal-with-route-when-model-gets-a-404/5283/2

I want to look into error within my ApplicationRouter error handler and thus make call between error404 page that will

[2015-01-22 17:55] benkonrath commented on #59
Ok, I'll fix this. Thanks for the information.

[2015-01-22 18:50] rafalp commented on #59
:+1: good man, thanks for working on this!

[2015-01-23 07:04] dbinetti opened #60 "mischaracterizes resources where the name is a singular ending in 's'"
I'm not sure if this is a bug or design decision, but I am unable to resolve a specific issues regarding a resource where the singular version of the name ends in 's': specifically, i'm trying to map the resource 'chorus', which creates all sort of issues:  EDA seems to look for the singular version of the endpoint, but the controller then thinks it's an object and not an array, something else sta

[2015-01-23 10:52] benkonrath commented on #60
EDA uses this function to create the paths (endpoints):

[code]
You can override this in your own app if you don't like this default and make everything singular. Here's a link that should help:

http://emberjs.com/guides/models/customizing-adapters/#toc_path-customization

In your case, you might have to also tell the inflector about how to deal with the word 'chorus' for singular / pluralization

[2015-01-23 16:19] jsalva commented on #4
I'm having the same issue using 0.5.1 from ember-cli; I noticed the docs example uses NAMESPACE rather than API_NAMESPACE. However, neither of these are changing adapter urls from root.

[2015-01-23 16:33] dustinfarris commented on #4
@jsalva I've been having a lot of issues with ember-cli 0.1.7.  I actually downgraded to 0.1.5.

It looks like 0.1.8 and 0.1.9 were [released today](https://github.com/ember-cli/ember-cli/releases).  Let's try that out and see if it resolves anything.

[2015-01-23 21:26] jsalva commented on #4
sadly, upgrading to 0.1.9 didn't help.
It's not terribly difficult for me to set that stuff in an application adapter, but it'd be nice to be able to configure that in the `environment.js` too since it's what the docs recommend

[2015-01-23 21:54] benkonrath commented on #59
@rafalp Review the code and try out the fix in #62 to see if it's going to work for you? Thanks.

[2015-01-23 22:15] dustinfarris commented on #4
@jsalva it should work in the config definitely.  It has been working for me, but something must have changed in ember-cli after 0.1.5.  Something is wrong—thanks for bringing it up.  I will open a new issue to fix this.

[2015-01-23 22:16] dustinfarris opened #63 "Config settings not working"
It has been reported that the configuration in environment.js is not getting picked up by EDA.  See end of #4.

[2015-01-24 01:53] rafalp commented on #59
Yep, my Ember.js ApplicationRoute's error hook can now access error status and whole message. There's also `error.status` so :+1:

[2015-01-24 05:44] dbinetti commented on #60
Thank you!  I'll need to better understand how to override using the custom adapters, but that isn't a bug...

[2015-01-24 05:44] #60 closed

[2015-01-24 07:36] benkonrath commented on #60
You can run this ember-cli command to generate an adapter that you can override:

[code]

This is documented here:

http://dustinfarris.com/ember-django-adapter/extending/

I'm glad I could help you out on this one.

[2015-01-24 14:47] #59 closed

[2015-01-24 15:43] dustinfarris commented on #63
Cannot reproduce

[2015-01-24 15:43] #63 closed

[2015-01-24 15:45] dustinfarris commented on #4
@jsalva I cannot reproduce this.  I just upgraded to 0.1.9 and everything is working.

Are you configuring the adapter in environment.js like this:

[code]

[2015-01-25 00:16] jsalva commented on #4
Yep here it is:

[code]

[2015-01-25 00:28] dustinfarris commented on #4
@jsalva Do you have anything in `app/adapters/`?

[2015-01-25 01:23] jsalva commented on #4
at first, no (assumed the setting would configure an application adapter w/ my API_NAMESPACE for me. Eventually I just used ember cli to generate `app/adapters/application.js` and put the desired namespace explicitly in there.

[2015-01-25 01:51] dustinfarris commented on #4
I really am having trouble reproducing.  Have started a brand new project with `ember new` and the fiddled with the `API_NAMESPACE` setting and everything works as expected.  Can you throw up a quick sample project on GitHub to demonstrate that I can clone and try?

[2015-01-25 13:32] dustinfarris commented on #4
@jsalva nevermind.  I have been able to confirm this.  Working on a fix.

[2015-01-25 13:44] dustinfarris commented on #4
@jsalva we aren't setting a default `API_HOST` which I believe is the main issue here.  Your namespace is indeed being respected, but it doesn't matter because it was pointed at the ember server.

[2015-01-25 14:59] #4 closed

[2015-01-26 09:44] benkonrath commented on #57
See PR #58 for more discussion.

[2015-01-28 17:43] typeshige opened #66 "Example project?"
Could you create an example Django + Ember CLI project that works out of the box?  Thanks!

[2015-01-28 18:09] dustinfarris commented on #66
I usually (and recommend) keeping Django and Ember in separate repos.

Example Django: https://github.com/dustinfarris/edatest
Example Ember: https://github.com/dustinfarris/edatest-web

I actually created these to report a (fixed) bug, but they can serve as the most basic possible example.

We intend to create more comprehensive example projects in the future.

[2015-01-28 18:09] #66 closed

[2015-01-28 19:26] typeshige commented on #66
Thank you.  I'm going to look at these now.  Perhaps, making it more clear in the docs that these repos exist could help!

[2015-01-31 22:47] dustinfarris commented on #66
@typeshige you may be interested in this commit.  https://github.com/dustinfarris/edatest/commit/a4c1f54a4cde15d6d5c636cd4d87fa4935c3c4ff

[2015-01-31 23:18] dustinfarris commented on #47
I've confirmed this bug, basically Ember has one notion of datetime, whereas Django has date and datetime.  Ember Data's DateTransform sends a full ISO-8601 datetime value for everything, and DRF blows up if the model's field is a DateField (as opposed to a DateTimeField).

Personally, I think this is a bug in DRF, or at least a deficiency.  We will either need to open a PR with DRF (that may or m

[2015-01-31 23:30] dustinfarris commented on #47
It looks like the folks over at DRF already gave this some thought: https://github.com/tomchristie/django-rest-framework/blob/master/rest_framework/fields.py#L920-L922

[2015-02-06 15:20] #32 closed

[2015-02-06 15:32] dustinfarris opened #71 "Add option to disable DRF warnings"

[2015-02-10 17:14] StErMi commented on #47
Hi I'm using AngularJS and AngularJS Bootstrap UI and the date returned by the JS datepicker is failing with the same error.

On Django the model field is

[code]

and when I pass it via POST the date is like this

[code]

but the serializer.is_valid() return that error

[2015-02-10 18:05] dustinfarris commented on #47
Hi @StErMi, I'm not sure if it's possible to override that in Angular, but as a workaround you can tell DRF to accept a different format.  http://www.django-rest-framework.org/api-guide/settings/#date-and-time-formatting

[2015-02-10 18:08] StErMi commented on #47
What I'm passing inside the POST is the ISO-8601 standard representation of a Javascript date.
It's pretty strange that DRF is not parsing it correctly.

[2015-02-10 18:10] dustinfarris commented on #47
Yeah, DRF will process that just fine for DateTimeField, but not for DateField.

[2015-02-10 18:13] StErMi commented on #47
Is it a bug? Should we report it?

On Tue, Feb 10, 2015 at 7:10 PM, Dustin Farris <notifications@github.com>
wrote:

--

Founder e CEO di SurveyLab
<https://surveylab.me/>Android Engineer @ musiXmatch
<http://www.musixmatch.com/>

Skype: e.ricci.designfuture
Twitter: @StErMi <https://twitter.com/stermi>
Linkedin: https://www.linkedin.com/in/emanuelericci
Google+: https://plus.google.com/u/0/+Emanu

[2015-02-10 18:15] dustinfarris commented on #47
No, it's a design decision.  See the link I posted—DRF is explicit about the formats that are accepted, but you can change them in your settings if you need to.

[2015-02-16 09:28] riklaunim opened #72 "Download builds without ember-cli?"
Is there a build of this adapter that can be downloaded (without the need of using ember-cli)?

[2015-02-16 15:05] dustinfarris commented on #72
No.  ember-cli is [slated to become an integral part of Ember](https://github.com/emberjs/rfcs/pull/15) and we are onboard with that vision.

You can reference the [original adapter](https://github.com/toranb/ember-data-django-rest-adapter) which was a standalone build, but it has been deprecated and may not work with recent versions of Ember Data and DRF.

[2015-02-16 15:05] #72 closed

[2015-02-21 00:32] jschneier opened #73 "Docs for extending serializer/adapter are wrong?"
Hi and sorry in advance if I am doing something wrong. I am using the latest version of everything I think and need to extend the adapter. My application is working fine using the default ember data RESTAdapter. I now need to add in drf support and do the following in accordance with the docs:

``ember g drf-adapter application``

My application now immediately errors out in the console with a mes

[2015-02-21 14:09] dustinfarris commented on #73
Hmm, possibly a bug.  What version of ember-cli are you using?

[2015-02-21 14:15] dustinfarris commented on #73
It looks like ember-cli 0.2.0-beta has introduced some breaking changes for addons—which we will need to address.  Assuming that's what you are using, you may want to use the latest stable version of ember-cli for now (0.1.15) while we work on support for 0.2.0.

[2015-02-21 17:08] jschneier commented on #73
I'm actually on 0.1.11

[2015-02-21 21:49] dustinfarris commented on #73
I actually had issues with 0.1.11 myself.  Can you try upgrading to 0.1.15 and see if the problem persists?

[2015-03-12 00:14] ewalti opened #75 "Embedded records not working"
I'm attempting to load a `GET` response of multiple models, type: `publishable`.

The problem is, these models have nested records.

The example JSON response is:

[code]

Console complains:
[code]

I have added the following:
[code]

to my `/app/serializers/publishables.js`, yet it still complains.

Has anyone had this problem with `EmbeddedRecords`?

[2015-03-12 02:04] ewalti commented on #75
This was due to even deeper nested values that I didn't see. It seems to be working, I'll reopen if I bump in to any other problems.

[2015-03-12 02:04] #75 closed

[2015-03-24 06:47] gitllermopalafox opened #76 "I can't create or update nested objects when data is sent as raw JSON"
Hi,

I'm using the browsable api interface and I able to create and update using the HTML form, but when I try to do the same using raw JSON I get this error:

        "propiedad": [
        "This field may not be null."
      ]

I've been testing several configurations on my serializers and I read the documentation, but I don't know what I'm doing wrong.

I think the problem is the nested objects

[2015-03-24 09:44] benkonrath commented on #76
You don't mention Ember or the Ember Django Adapter (this project). Is your problem with the Ember Django Adapter or are you looking for general help with Django Rest Framework?

[2015-03-24 16:12] gitllermopalafox commented on #76
I'm sorry, yes I'm looking for help for ember django adapter.

Thanks.

[2015-03-24 17:34] benkonrath commented on #76
Which versions of Ember, Ember Data and Django Rest Framework are you using? What do your Ember-data models look like?

You also need to provide a small example that causes the problem. Just dumping your entire project code here makes it harder for us to figure out what's going on. I want to help you with this problem but you have to put more of an effort in when asking for this kind of support. I

[2015-03-24 17:37] benkonrath commented on #76
I just read the title of this issue.

http://dustinfarris.com/ember-django-adapter/embedded-records/

It looks like your trying to do something we don't currently support. Sorry about that.

[2015-03-24 17:37] #76 closed

[2015-04-01 07:40] dustinfarris commented on #73
@jschneier are you still seeing this in recent versions of ember-cli?

[2015-04-01 12:56] jschneier commented on #73
Nope, working now. Thanks for your help!

[2015-04-02 17:02] pkenway opened #79 "Error on generated Adapter unit tests"
I'm getting an error running unit tests for the DRF adapter and subclassed adapters.

See the following gist for an example:
https://gist.github.com/pkenway/9e77ca425d91fe925482

This is the error I get:
[code]

This is with ember-cli 0.2.2.

Am I doing something wrong or is this a bug?

[2015-04-02 20:34] pkenway commented on #79
I figured out the issue.  I was including the adapter in an addon, which by default has the prototype extensions disabled.  I uninstalled `ember-disable-prototype-extensions` and it's fixed.

[2015-04-03 02:03] dustinfarris commented on #79
Good to know.  This sounds like something we should document.

[2015-04-09 02:43] devinrhode2 opened #80 "cli v0.2.3: default adapter can't import './drf'"
Full error:
[code]
I'm guessing this is an error with ember-cli `0.2.3`? Should [ember-django-adapter/addon/adapters/drf.js](https://github.com/dustinfarris/ember-django-adapter/blob/master/addon/adapters/drf.js) have been put into the adapters folder?

[2015-04-09 03:21] dustinfarris commented on #80
I am working to bring the adapter up to speed with the 0.2.x series which has been a lot of work (mainly for the tests), but I have not run into this specific error—I am using the adapter on a project with ember-cli 0.2.3.  What is your usage like?

[2015-04-09 03:42] gitllermopalafox commented on #76
@benkonrath, sorry for my late reply, and I'm sorry for how I post the issue, I'll keep it in mind for the next time and thanks for your intention for help me!!

[2015-04-09 04:58] devinrhode2 commented on #80
well I just removed the adapter because it was empty/not doing anything but
causing this error:
https://github.com/devinrhode2/wibi/commit/b9e129f16982ec273741f010f39f0f561c188b66

-Devin <http://zerply.com/DevinRhode2>
<http://zerply.com/devinrhode2>

On Wed, Apr 8, 2015 at 8:21 PM, Dustin Farris <notifications@github.com>
wrote:

[2015-04-09 05:27] dustinfarris commented on #80
Ah, I see.  Interesting approach at combining your Ember and Django project into one directory using staticdirs.  Most people keep them separate—personally, I keep them in two different repositories altogether.  I'm guessing that your approach is having some side effect on node's ability to traverse dependencies, which would explain the error.  Or perhaps it's something else.

[2015-04-11 05:13] progresivjose commented on #73
i have the same problem with ember-cli 0.2.3....

[2015-04-11 05:35] dustinfarris commented on #73
Thanks for reporting.  Any way you can see if #81 helps?

[2015-04-11 06:05] holandes22 opened #83 "Modify signature of adapter methods to match ember-data 1.0.0-beta.16"
Easy fix as it is only syntactic. Relevant methods are:

- buildURL
- findMany

I'll take care of this PR, but @dustinfarris I want to hold on until you merge the ember-cli update to 0.2.3, sounds good?

[2015-04-11 06:16] dustinfarris commented on #83
Sounds good to me.

[2015-04-13 12:16] holandes22 commented on #83
Great, can you please label it enhancement and assign it to me?

[2015-04-13 17:26] benkonrath commented on #83
Support for ember-cli 0.2.3 has just been merged.

[2015-04-14 06:09] holandes22 commented on #83
Awesome, I'll get to it tonight

[2015-04-14 13:29] benkonrath commented on #83
Fixed via b15bdc1.

[2015-04-14 13:29] #83 closed

[2015-04-29 20:48] dustinfarris commented on #80
@devinrhode2 do you still see this with the latest version of ember-django-adapter?

[2015-05-11 15:17] dustinfarris commented on #80
Closing due to no response.  Please feel free to reopen if this issue persists.

[2015-05-11 15:17] #80 closed

[2015-05-11 15:17] dustinfarris commented on #73
Please reopen if this issue persists.

[2015-05-11 15:17] #73 closed

[2015-05-14 15:26] benkonrath commented on #79
Ember-cli 0.2.4 includes ember-disable-prototype-extensions by default so we should probably figure out why the tests don't work when the prototype extensions are turned off.

Here's some information about the module:

https://github.com/rwjblue/ember-disable-prototype-extensions

The PR into ember-cli also has some useful information:
https://github.com/ember-cli/ember-cli/pull/3645

[2015-05-14 15:31] dustinfarris commented on #79
ok.  I'm guessing 0.2.5 is right around the corner with today's Ember version bumps.  When that happens one of us should start a PR to bump our required version—and fix this issue while we're at it.

[2015-05-14 15:33] dustinfarris commented on #79
deleted last comment, got my cli versions mixed up.

Yes, we need to update to 0.2.4 and fix this issue.

[2015-05-14 15:38] benkonrath commented on #79
Do you want me to investigate / fix this issue before you merge #89?

[2015-05-14 15:39] dustinfarris commented on #79
Yes, thanks.

[2015-05-14 17:22] #79 closed

[2015-05-15 11:50] benkonrath opened #90 "What does the .jshintrc blueprint do?"
I just notice that EDA contributes a .jshintrc blueprint. Is this correct or should we remove the .jshintrc file from the blueprints directory?

`ember g --help`

[2015-05-17 14:41] #90 closed

[2015-05-19 07:11] holandes22 commented on #71
Is this really needed? I mean, warnings exist for a reason and I don't want to silence them by mistake (if of course they are meaningful and don't clutter the console)

[2015-05-19 11:29] dustinfarris commented on #71
This is the only warning we have: https://github.com/dustinfarris/ember-django-adapter/blob/master/addon/adapters/drf.js#L111-L115

It's meant to be informative so that the user understands the requirements of coalesceFindRequests.  My main concern is that it is not silent in production.

[2015-05-20 06:59] holandes22 commented on #71
I see, so the user should see it only during development.

We can use the ember config to allow the user to configure these. Something along these lines:

    ENV['ember-django-adapter'].silence_coalesce_warning

If it sounds good, I'l open a PR during the weekend

[2015-05-20 13:24] dustinfarris commented on #71
Something like that.  I'm actually second-guessing this as I have been unable to find any precedent in other addons.

Separately, I've been wondering if we should convert all of our options to the style you mentioned:

[code]

vs our current style:

[code]

[2015-05-20 20:16] benkonrath commented on #71
The warning is potentially helpful for our users because the feature requires an external dependency (DRF) to be configured in a non-standard way. However, this is documented clearly so we could just remove the warning and see what happens. If we get a bunch of issues from users not understanding how to setup DRF or generally getting confused on what to do, we can always put the warning back in. I

[2015-05-20 20:31] dustinfarris commented on #71
Another option would be to compare the number of requested items to the number of returned items.  If the backend is not configured properly, it returns everything—so if the number of returned items is greater we know the user has not properly set up DRF and could throw the warning/error at that point.  Is it worth the extra CPU cycles?

[2015-05-21 08:20] holandes22 commented on #71
@dustinfarris regarding configuration, using the format ENV['ember-cli-plugin-name'] seems to be the norm.

Changing it will brake compatibility, but being pre-1.0 I think is a good time to make such change.

As for the warnings, we can use ember's own approach. During minor versions, deprecation warnings appear. It's your decision to fix them or not and your app will work just fine, it just gonna

[2015-05-21 13:25] dustinfarris commented on #71
Ok, agree that the warning needs to stay in some form.  @holandes22 what do you think about my suggestion above to compare the request and response length before issuing the warning?

[2015-05-24 13:22] #23 closed

[2015-05-26 07:00] holandes22 commented on #71
@dustinfarris  Very sorry for the late response.

It is a nice idea, but as you said before, it will add an overhead to every findMany request. Maybe we can run the test during the first request, and then disable the warning? This way, we only have that overhead only one time

[2015-05-26 13:52] benkonrath commented on #57
See PR #95 for an implementation of this.

[2015-06-03 21:52] benkonrath opened #98 "ember-data beta.18 doesn't work with v0.5.5 on IE8"
I guess something with the deprecation warnings from ember-data beta.18 cause ember-data to fail on IE8. @dustinfarris Any chance you can make a new release soon?

[2015-06-04 14:37] dustinfarris commented on #98
Yes, but want to update for [ember-cli 0.2.7](https://github.com/ember-cli/ember-cli/releases/tag/v0.2.7) first.

[2015-06-04 15:14] benkonrath commented on #98
Ok, PR coming.

[2015-06-04 21:01] dustinfarris commented on #98
You rock!  Merged #99 and [v0.5.6 has been released](https://github.com/dustinfarris/ember-django-adapter/releases/tag/v0.5.6).

[2015-06-04 21:01] #98 closed

[2015-06-08 17:47] gone commented on #33
I'm hitting this issue using ember-mirage and the DRF adapter. Ember tries to use a full url including http during tests, which pretender refuses to honor with the error
`Error: Pretender will not respond to requests for URLs. It is not possible to accurately simluate the browser's CSP. Remove the http:// from <url>`

Setting the api host to empty to try and use pretender causes tests to halt.

[2015-06-08 18:47] gone opened #100 "Ember Mirage and DRF adapter are incompatible for acceptance tests"
When attempting to run acceptance tests, pretender will bail out rather than making a request.  Possibly related to #33

[2015-06-08 19:45] dustinfarris commented on #100
Interesting.  I wonder what part of EDA is conflicting with Ember Mirage.  Is there a sample app anywhere I can look at?

[2015-06-10 23:24] dustinfarris commented on #100
Can you give us any output or anything else to help us diagnose the issue here?

[2015-06-10 23:24] gone commented on #100
Yeah I'll throw together a demo and post it
On Jun 10, 2015 7:24 PM, "Dustin Farris" <notifications@github.com> wrote:

[2015-06-25 16:01] dustinfarris commented on #57
Closing in favor of #95

[2015-06-25 16:01] #57 closed

[2015-06-25 16:02] #55 closed

[2015-06-25 16:03] dustinfarris commented on #100
@gone Is this still a problem for you?

[2015-06-26 23:12] dustinfarris commented on #100
Closing.  Please feel free to reopen if this continues to be a problem.

[2015-06-26 23:12] #100 closed

[2015-06-29 02:33] awwester opened #102 "modelName in serializers/drf.js undefined"
I'm getting undefined in the drf serializer inside `extractArray` for the `type.modelName variable`. I changed that to `type.typeKey` and that property is what was needed.

I'm using ember 1.13.1, ember-data 1.0.0-beta.17, and ember-django-adapter 0.5.6

[2015-06-29 06:31] benkonrath commented on #102
ember-data-adapter 0.5.6 requires at least ember-data v1.0.0-beta.18 because there was a breaking change in beta.18. ember-data-adapter 0.5.6 should also work with ember-data v1.0.0-beta.19.2 but it won't work with ember-data >= 1.13 because of another breaking change (I'm working on a fix which I hope to finish in the next couple of days).

[2015-06-29 06:31] #102 closed

[2015-06-29 06:34] benkonrath commented on #102
I forgot to mention: Please feel free to reopen this issue if you still have problems with ember-data beta.18 / beta.19. Thanks.

[2015-06-29 13:26] awwester commented on #102
Cool, thanks! Will take a look at that.

[2015-07-02 13:06] benkonrath opened #103 "updating to ED 1.13"
Ember-data 1.13 was just released with some changes that affect EDA. You can read about the details here:
http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html

The first issue I found with when trying ED 1.13.4 with EDA 0.5.6 is that `RESTAdapter.ajaxError()` has been removed and EDA calls it through `_super()` (https://github.com/dustinfarris/ember-django-adapter/blob/v0.5.6/addon/ada

[2015-07-03 04:16] dustinfarris commented on #103
Thanks for digging into this.  ED 1.13 is a big release.  I am against supporting ED betas.  Let's fix up the breaking change with ajaxError and release 0.6.0.

[2015-07-03 08:04] benkonrath commented on #103
Ok, we're on the same page. Is there a reason why you don't want to release EDA 1.0.0 that's compatible with ED 1.13? It's just a number to me but I'm just try to understand your thoughts.

[2015-07-03 15:47] dustinfarris commented on #103
Yeah, It's time for 1.0.  Let's do that, and follow the pattern outlined in [The Ember 2.x Project](http://emberjs.com/blog/2015/06/16/ember-project-at-2-0.html)—when Ember/ED bump to 2.x, so do we, when they bump to 3.x, so do we, etc.  We'll do it loosely, tracking only major version bumps to keep our support aligned, and keep minor/patch versions for our own improvements.

[2015-07-04 02:18] bierdybard commented on #103
I noticed that after attempting to update to ED 1.13, IDs for newly created objects (For some of my objects IDs are set client-side) were not being serialized/sent to the server. Is this related to the above noted change? If not I'll open a new issue for it.

Appreciate everybody's work on this, this adapter has saved me a ton of time.

[2015-07-04 08:18] benkonrath commented on #103
@bierdybard Thanks for letting us know. It's definitely information that I'll need when I tackle the upgrade to ember-data 1.13.

[2015-07-04 09:08] jmurphyau commented on #71
Personally I don't think the warning should exist.

- Ember Django Adapter Default: `coalesceFindRequests = false`
- Django Rest Adapter Default: No custom filter exists to support `coalesceFindRequests = true`

The defaults work out of the box. If someone is going to change the defaults, they either know what they are doing or they are following documentation..

Basically this warning is document

[2015-07-04 09:08] holandes22 commented on #103
Hi guys, quick jump in here. I propose to have a Beta or RC release before final 1.0
I've seen this pattern with several addons and it is a good approach in my opinion, so people can try out the beta/rc and let us know of critical problems before closing the final release.

I would drop support for old ED beta versions and support 1.13 which is the first non-beta version, this way we are completel

[2015-07-04 16:30] dustinfarris commented on #71
Yeah, the warning is in production for everyone which needs to be fixed.  I'll take another look at this tonight.  I'm leaning toward removing it altogether.

[2015-07-04 16:36] dustinfarris commented on #103
Beta sounds good.  @benkonrath are you going to own the upgrade?  I'd like to ship sometime next week if possible if we are going to allow time for a beta period.  If you're busy @holandes22 or myself can take this one.

[2015-07-05 04:41] holandes22 commented on #103
I'd like to work on this if it is ok with you guys. Waiting for your ack to avoid duplicate work

[2015-07-05 04:53] dustinfarris commented on #103
@holandes22 :+1:

[2015-07-05 05:33] holandes22 commented on #103
Just found out that ED 1.13 works with ember 1.12.1 and later, meaning we will have to do so as well, any issues with this? usually people upgrades to latest ember versions, but might leave behind someone.
In my opinion is OK, if you use ember-data you want to have the stable version, and if that requires a fairly new ember version the request is reasonable

[2015-07-05 05:46] dustinfarris commented on #103
I have no problem dropping support for Ember <1.12.1.  Ember has been very clear about how core libraries (Ember, ED, etc) are going to stay in sync version-wise going forward.

[2015-07-05 07:28] benkonrath commented on #103
@holandes22 Great, thanks! I briefly investigated the update a couple of days ago. The first thing I found was that `ajaxError` has been replaced by `handleResponse`.

https://github.com/emberjs/data/blob/0d603e964d62b581acc8f1268d19f7e69bdf64fd/packages/ember-data/lib/adapters/rest-adapter.js#L716

Here's what I have so far. It's not complete but it might help you get started.

[code]

Dropping s

[2015-07-05 07:29] benkonrath commented on #71
:+1:  for removing it.

[2015-07-05 11:06] holandes22 commented on #103
Great, I'll start working on a PR

[2015-07-05 11:26] holandes22 commented on #103
So it turns out that to get ready for ember data 2.0, the task is much bigger. Several normalization methods have been renamed and they now basically need to conform with the JSON API spec, which will become the default adapter in 2.0

I will make a PR to use the new error hooks and format now (so we can support 1.13) and open a separate ticket to get EDA ready for ED 2.0 (according to http://embe

[2015-07-05 12:25] benkonrath commented on #103
Yeah, it's a big change. A quick fix would be to add the old `RESTAdapter.ajaxError()` to our adapter and call it instead of `this._super()` in our adapter (https://github.com/dustinfarris/ember-django-adapter/blob/v0.5.6/addon/adapters/drf.js#L76).

[code]
This should give us ED 1.13 compatibility and we can do a full restructure for our 2.0 release. What do you think?

[2015-07-05 12:31] holandes22 commented on #103
It's a nice approach, but I started already working on a PR to use the new handleResponse, I prefer working on that a little more and see how it goes. I should have something ready tomorrow for you guys to review.

If we get that working we will have 1.13 support but with deprecation warnings for all the other normalization methods, those we can fix in a separate ticket to support ED 2.0.0 (which

[2015-07-05 12:36] benkonrath commented on #103
Sounds good. I think removing the depreciation warnings as soon as we can is probably a better approach anyway.

[2015-07-05 15:12] holandes22 commented on #103
Seeking an opinion here. Previously, the error response contained camelizedNames, whereas now, ember-data just adds the payload as is producing reponse errors with snake_case names (just as they come from the server).

Should we keep this behavior? @benkonrath any idea where this was/is handled either in EDA or ED?

[2015-07-05 15:16] holandes22 commented on #103
hmm, I think ED just expects that the json payload contains attr names in camelCase, but can't find confirmation of that

[2015-07-05 16:17] holandes22 commented on #103
You can check WIP here https://github.com/holandes22/ember-django-adapter/tree/103-update-ember-data

[2015-07-05 16:21] dustinfarris commented on #103
I don't believe error response data has ever been modified by ED or EDA.  I have in the past relied on `non_field_errors` which were provided as is in response.errors, e.g.:

[code]

[2015-07-05 19:40] benkonrath commented on #103
The field errors should definitely be camelCase but ED should do this (it used to do it anyway). For the non field errors, we should just decide what we want to do (keep as snake_case or convert to camelCase) and add an acceptance test so we know if it ever changes.

[2015-07-06 02:21] dustinfarris commented on #103
It should be all one way or the other.  And yes, preferably camel-cased.

[2015-07-06 07:29] holandes22 commented on #103
Yes agree. The error object contains now camelCase attributes. We modify this ourselves from the payload that gets to handleResponse, apparently if the response is successful, ED converts to camelCase up in the pipeline. I'll post a question at slack channel to see if this is correct behavior.

Another thing, I'm having one test failing in the command line (it passes in chrome), with this error:

[2015-07-06 16:08] benkonrath commented on #103
I see the problem in the command line too. The problem comes from the fact that the 500 method doesn't return json. I changed it to json and it worked, however, that's not a good test because a 500 in django doesn't return json. Perhaps this is a bug in ED 1.13? Not sure.

[2015-07-06 18:02] holandes22 commented on #103
@benkonrath ok, but weird is not failing on chrome.

I'm tempted to remove this test, my reasoning being that if you hit an API endpoint you are expecting json as content type and not html. What I usually do is add a global catcher so every exception that escapes the API gets converted to a proper json response. Is this a real case scenario?

[2015-07-07 07:29] benkonrath commented on #103
@holandes22 The test was probably more relevant when the `jqXHR` object was being returned in the error case (as in ED beta.19). ED is now handling parse errors so removing the test should be ok.

https://github.com/emberjs/data/blob/v1.13.4/packages/ember-data/lib/adapters/rest-adapter.js#L958

It's still strange that it fails on the command line and not in browsers. Not sure what's going on ther

[2015-07-07 11:56] dustinfarris opened #105 "Side loading support"
An EDA user reached out recently and inquired about side-loaded data support.  I think we should consider this.  After brain-storming how to do this in the least DRF-invasive way, I think we can specify a special key to represent the data.  Since JSON API uses `included`, I recommend we use a similar name-spaced key like  `_included_modelnames`.

Something like this:

[code]

Here, the `pets` fiel

[2015-07-07 16:04] benkonrath commented on #105
It feels more natural to me to support the `EmbeddedRecordsMixin` instead of adding support for side loading.

http://emberjs.com/api/data/classes/DS.EmbeddedRecordsMixin.html

DRF supports nested serializers (as you demonstrate in your example) so I think a user would just need to extend the `RESTSerializer` to add the `EmbeddedRecordsMixin`. We should actually consider adding the  `EmbeddedRecor

[2015-07-07 16:19] benkonrath commented on #103
Forgot to point out that we currently have a similar try / catch block which is why the test is there.

https://github.com/dustinfarris/ember-django-adapter/blob/master/addon/adapters/drf.js#L81

[2015-07-07 16:34] dustinfarris commented on #105
EmbeddedRecordsMixin is already working well in EDA; I use it a lot—but writable nested serializers are not supported by DRF.  Side-loading would be a nice hybrid solution to have the writable pk field, but still get the embedded data in one request.

[2015-07-07 16:39] benkonrath commented on #105
Thanks for the insight. Ok yeah, I agree it's useful to have the side loading. Your proposal seems good to me.

[2015-07-07 20:24] #71 closed

[2015-07-08 07:34] holandes22 commented on #103
I see, thank you.

According to https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/model/errors/invalid.js#L44 there is where the error names should be converted to camelCase

[2015-07-08 08:00] benkonrath commented on #103
That comment might be out of date because the example has a reference to `ajaxError()` which has been removed. `extractErrors` is still in the json serializer so it's probably still useful:

https://github.com/emberjs/data/blob/2385a7c2e64467a1823b91795a07bf68d3940b4c/packages/ember-data/lib/serializers/json-serializer.js#L1261

[2015-07-08 08:23] holandes22 commented on #103
yes, you are correct, found it after making the comment (missed that part in the docstring of handleResponse).

The problem is that for some reason the default implementation is not being able to map the properties in the payload to the DS.Model, so investigating that now

[2015-07-08 13:36] holandes22 commented on #103
If I format the error array as ED expects it as explained here http://emberjs.com/api/data/classes/DS.InvalidError.html
(which is similar to a jsonapi error obj but with a key 'details' instead of 'detail', not sure if this is an overlook in ED) I see that extractError maps it properly.

For example:

[code]
adapter converts to:
[code]
This gets converted by default extractErrors properly (camelCa

[2015-07-08 14:14] g-cassie commented on #105
I am using embedded records and to support the writable pk field I use a custom field.

[code]

Then I can do this in my serializer:
[code]

In Ember you need to do this:
[code]

[2015-07-08 14:22] dustinfarris commented on #105
@g-cassie that's an interesting approach.  So it's basically embedded records on read, pk on write?

[2015-07-08 14:24] g-cassie commented on #105
@dustinfarris that's correct.  This approach is documented in the ED api docs as well so support should continue for it.

http://emberjs.com/api/data/classes/DS.EmbeddedRecordsMixin.html

[2015-07-08 14:45] dustinfarris commented on #105
From the [section on hasMany](http://emberjs.com/api/data/classes/DS.EmbeddedRecordsMixin.html#method_serializeHasMany):

So you are basically just flipping the switch on serialize—I think that should work on hasMany as well if you were to do:

[code]

Would it be easier to maintain documentation for two separate serializers for read/write instead of a custom field?

Like:

[code]

Not saying this

[2015-07-08 14:55] g-cassie commented on #105
Two serializers could work and your code example is simpler to document for sure.  Personally I like that the custom field consolidates all the logic in `serializers.py`.  If my custom field were available in the DRF core I think it would definitely be the way to go, but with no widely supported package available with my custom field your solution is probably easier to recommend.

I think with the

[2015-07-08 15:40] dustinfarris commented on #105
@g-cassie: Good point, none of the solutions here address duplicate data in a ListView.  To do that would require some hacking at the response/renderer level which is definitely out of scope for this project.

I think I am going to document the multiple serializer solution for now and forego formal side-loading support.  Do you have a blog post on the custom field I can link to as an alternate sol

[2015-07-08 16:11] g-cassie commented on #105
@dustinfarris No blog post and my bandwidth is limited right now.  I threw it into a gist you can link to:
https://gist.github.com/g-cassie/8b4c62bf2da7d791bc36

I don't think I have ever tested this field with hasMany relationships but theoretically it should work.

[2015-07-08 16:30] dustinfarris commented on #105
:+1:

[2015-07-08 19:04] dustinfarris commented on #103
I don't think you're missing anything.  You have accomplished getting ED to set the errors on the model in the desired format.  That is important for users and esp. addons that expect these errors to be formatted that way.

Meanwhile, DRF's response gets returned raw to the user in response.errors, which is great for our users who may not necessarily understand the internals, but want to inspect t

[2015-07-08 19:07] dustinfarris commented on #103
What happens with `non_field_errors` that don't have a field pointer?

[2015-07-09 05:48] holandes22 commented on #103
@dustinfarris good point on non_field_errors, I overlooked that test case. I think since it has no key, naturally won't appear in the record (as ED cannot map it). But since the InvalidError object contains the original payload, it will be present there (which is annoying forcing us to use 2 different objects to form the errors). I'll add a test case for it

BTW, ED 1.13.5 was released last night,

[2015-07-09 08:47] holandes22 opened #107 "Update to ember-cli 1.13.x"
Recently released, converges all deps to latest stable (ember 1.13 and ED 1.13.15)

I'll update this after #103 is merged and prior to an EDA 1.0-Beta1 release

[2015-07-09 09:45] benkonrath commented on #107
:+1:  Great!

[2015-07-09 17:37] dustinfarris commented on #103
@holandes22 can you open a PR and add the "in progress" label.

[2015-07-10 07:04] holandes22 commented on #103
@dustinfarris sure, wanted to the test my branch a little more before submitting the PR, but I'm ready no, sending it in a few minutes

[2015-07-10 07:27] holandes22 opened #109 "Add "note" about jsonapi being the happy path in ember-data"
I see that the community of ember-data got behind the jsonapi spec (and with great reasons, is an amazing project), so I would like to mention this to newcomers.

If you start a project today using Django, ember and ember-data, the best way to go is to create a jsonapi compliant API in your backend. Therefore, the use of this adapter is not the best way to go in such case.
Unfortunately, as of yet

[2015-07-10 13:02] dustinfarris commented on #109
I don't think we need to take an official stance on this.  If I am thinking about a new Ember project, I am not going to read an adapter's documentation to make architectural decisions.  People come to the adapter because they are already using Django REST Framework, and want to start using Ember.  I would rather not discourage them.

DRF is not the best framework for JSON API.  There are several

[2015-07-10 14:08] benkonrath commented on #109
I have the feeling that it's still a lot of work to create JSONAPI compliant API with Django. I haven't done much research on the topic so I would feel uncomfortable recommending this path for new projects. I did a quick search and I found these projects but I have know idea how well they work though.

https://github.com/kevin-brown/drf-json-api
https://github.com/django-json-api/rest_framework_em

[2015-07-10 19:16] #109 closed

[2015-07-11 07:02] holandes22 commented on #109
Yo guys do raise some very good points, but my impression still is (and this is purely speculative on my part) that the flow for a newcomer is:

1. I use django and want to start digging into ember
2. Do a google search "ember + django" and the first place they get is EDA

This is where I was coming from. But, yeah, nobody should make architectural designs purely based on our docs, so I agree no m

[2015-07-11 07:28] holandes22 opened #110 "Prepare adapter to comply with upcoming version 2 of ember-data"
Basically go with the instructions laid here http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html#toc_new-serializer-api-for-custom-serializer-authors and here http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html#toc_transition-to-the-new-jsonserializer-and-restserializer-apis

And remove all the deprecation warnings of course

[2015-07-11 23:47] rafalp opened #111 "default extractMeta implementation is truncating additional metadata"
Use case: invoicing app asks API for list of invoices. Metadata includes pagination data as well as dialy, monthly and yearly turnarounds that can be displayed somewhere near list. However default extractMeta implementation used by Ember-Django adapter assumes that metadata will be used only for pagination, and thus discards other meta, breaking contract promised by Ember's docs.

[2015-07-12 06:45] benkonrath commented on #111
I didn't consider that people use the metadata for things other than pagination but you seem to have a good use case. Can you send me a link to the Ember documentation you mention? Thanks.

[2015-07-12 07:43] benkonrath commented on #110
Since this is such a big change, perhaps we should release EDA 1.0 with the deprecation warnings and EDA 2.0 with all the deprecation warnings fixed. This allows us to make a functional release for ED 1.13 sooner and gives us some breathing room for our 2.0 release. We can always back port the 2.0 deprecation fixes to an EDA 1.1 release (or something). What do you guys think?

[2015-07-12 08:05] benkonrath commented on #111
You can solve this by overriding `extractMeta` for just the `invoice` record type. You can generate a `DRFSerializer` for `invoice` with this ember-cli command:

[code]

Then add your own metadata where I've indicated and also delete the extra properties (again as indicated). This is just off the top of my head so I haven't tested it.

[code]
I'm still interested to see the documentation to know i

[2015-07-12 09:33] holandes22 commented on #110
+1

[2015-07-12 14:24] rafalp commented on #111
Hey there!

http://guides.emberjs.com/v1.12.0/models/handling-metadata/

The way I understand this if backend provides `meta` key in json response, that key's values are treated as metadata and are automatically put into meta for type.

Taking from there I've assumed that because django adapter is middleman translating DRF's json for Ember-Data json, and Rest Framework is not using meta key on its

[2015-07-12 16:16] dustinfarris commented on #109
In my opinion, for any new project, if JSON API is your first priority then DRF probably isn't the way to go.  In fact, I'm not even sure if Django is the way to go.

If I was starting a new project and wanted to jump on the JSON API bandwagon, I'd probably take a look at using Rails, or possibly one of the newer frameworks like [Phoenix](http://www.phoenixframework.org/) (which looks pretty excit

[2015-07-12 20:15] holandes22 commented on #109
You are right, currently DRF is not really a good option for jsonapi. But it can get there, if rails did, django can too :)

Saw your addition in the README file on the jsonapi, looks great, you expressed it much better than I could :+1:

Heard very nice things about elixir, but never heard of Phoenix, so thanks! I'll check phoenix next weekend, looks really good.

[2015-07-12 20:53] benkonrath commented on #111
I agree with your analysis; extra metadata should be included with the metadata. I'll try to fix this for the next release. Thanks.

[2015-07-12 20:54] benkonrath commented on #110
Actually I've already made the required changes (building on your PR). I'll submit my PR once your work is merged.

[2015-07-13 06:55] holandes22 commented on #110
Awesome!

[2015-07-14 14:42] dustinfarris commented on #33
Closing for now as this doesn't appear to be blocking anything.

[2015-07-14 14:42] #33 closed

[2015-07-14 19:38] #103 closed

[2015-07-15 08:47] holandes22 opened #113 "Modify error object to contain a source pointer when "non_field_errors" in DRF response"
See discussion in #108

Instead of using meta to store the non field errors key, we will use the source object (to be consistent with validation errors)

[code]

[2015-07-15 13:03] bierdybard opened #115 "Explicitly-defined id field on new objects not being sent with POST on save"
Hello all,

I have several models in my app where the user explicitly sets the id field at object creation.

Beginning with Ember Data 1.0.0-beta.19 up to and including the current ED 1.13.5, this explicitly-set id field is not being sent to the server in the POST data when calling .save().

This has been tested both with EDA 0.5.6 and the current master version after the #108 merge. Reverting to

[2015-07-15 13:37] dustinfarris commented on #115
Good catch.  Either id is being stripped for the snapshot object (unlikely), or we are somehow blocking the includeId option for createRecord.  Will investigate.

[2015-07-15 13:43] benkonrath commented on #115
Ember data has an `includeId` option that adapters or applications can enable. But maybe we should wait until #114 is in before we investigate too much with the current code.

One question: Should we enable this option by default or should we expect applications to enable it?

[2015-07-15 13:46] dustinfarris commented on #115
Yes, will wait for #114 before trying anything.

As far as I can tell, includeId should always happen for createRecord:

https://github.com/emberjs/data/blob/master/packages/ember-data/lib/adapters/rest-adapter.js#L556

[2015-07-15 13:48] benkonrath commented on #115
@bierdybard If you have a chance, a failing test case would be helpful.

[2015-07-15 15:08] bierdybard commented on #115
Hi guys,

Thanks for looking at this.

I'm a rookie on the JS/Ember side so I'm not quite sure how to capture and test against the POST payload. I've just discovered Sinon so I'll see if I can use that to pull something together.

[2015-07-15 15:12] dustinfarris commented on #115
@bierdybard I wouldn't use Sinon for this—at least not yet.  Take a look at our existing acceptance tests for inspiration.  I think you can probably get away with modifying an existing test to assert that the proper POST request is made.

I would start here: https://github.com/dustinfarris/ember-django-adapter/blob/master/tests/acceptance/crud-success-test.js#L127-L145

[2015-07-15 17:44] bierdybard commented on #115
Thanks for the pointer @dustinfarris.

I've modified the 'Create record' test to set an ID field and test against the request payload.

Unfortunately, the test still passes with ED 1.13.5 / EDA master. When setting the ID field it does indeed appear in the request payload, contrary to what I'm seeing in my app.

Continuing to dig.

[2015-07-15 17:50] dustinfarris commented on #115
Are you testing against the pretender server's handled requests?  or are you just checking the returned object?

https://github.com/trek/pretender#hooks

[2015-07-15 17:56] bierdybard commented on #115
In response to your latest question -- against the server.handledRequests property.

I found the issue, but I think it may be an Ember Data bug, not EDA.

When the ID is set in store.createRecord:
[code]

Everything is hunky dory.

However, If I don't set an ID on the initial create, or if I try to change the ID after create, the changes do not stick. The POST request either contains no ID or the

[2015-07-15 18:12] #107 closed

[2015-07-15 19:02] bierdybard commented on #115
Hey all, there is an existing issue (emberjs/data/#3360) that covers this issue. I think we can probably close this one.

Thanks for the extra eyes!

[2015-07-15 19:06] dustinfarris commented on #115
Good to know, thanks!

[2015-07-15 19:06] #115 closed

[2015-07-16 07:30] nanuxbe opened #118 "Q about embedded records"
Hi,
I was wondering if you could enlighten me a bit about embedded records write limitations? Does it come from an ember-data limitation or a drf limitation or something else.

Thanks :-)

[2015-07-16 08:24] benkonrath commented on #118
The limitation is in Django REST Framework. There's some usefule information about this in #105 with a potential solution.

[2015-07-16 08:56] nanuxbe commented on #118
@benkonrath thanks for your reply.
now I remember already seeing that method somewhere but it doesn't fit my needs as what I'd like to do is save a record at the same time as its hasMany related records inside a transaction and either report success on the whole thing or rollback the entire transaction if any of the related record (or the main record) fails.

But seeing that solution again gave me

[2015-07-16 11:26] rinti commented on #105
@g-cassie Thanks man! That works flawlessly for my needs at the moment :+1:

[2015-07-19 11:23] benkonrath commented on #118
Nice that you found something that could work. Feel free to reopen this issue if you feel your question hasn't been answered.

[2015-07-19 11:23] #118 closed

[2015-07-24 13:53] #110 closed

[2015-07-24 13:53] #111 closed

[2015-07-24 15:13] dustinfarris commented on #113
Now that #114 is merged we can take another look at this.

[2015-07-26 00:46] erichonkanen opened #121 "Package incompatible with ember-cli-coffeescript"
Hello,

I am using [ember-cli-coffeescript](https://github.com/kimroen/ember-cli-coffeescript) package with my project with django api and we decided to try using this client side api adapter but ran into an issue where an error occurs on `ember server` due to coffeescript finding an `adapters/application.js` [file](https://github.com/dustinfarris/ember-django-adapter/blob/master/app/adapters/appl

[2015-07-26 07:42] benkonrath commented on #121
As far as I know this is a standard embe-cli addon so I'm not sure there's an issue with this package. Let's see what the developers of ember-cli-coffeescript have to say about this issue you filed with them.

[2015-07-27 02:16] dustinfarris commented on #121
Yeah, that's an interesting one.  I'd say this should be addressed by ember-cli-coffeescript.  On a side note, make sure you are importing from ember-django-adapter in your own adapters/application.coffee, otherwise the adapter will not work.  See docs here: http://dustinfarris.com/ember-django-adapter/extending/

[2015-07-27 07:11] erichonkanen commented on #121
@dustinfarris ok definitely I'm waiting to hear back on their end... We did create our own `app/adapters/application.coffee` but that was where the issue came up because it had already detected `application.js` from this package and it caused conflict

[2015-07-28 06:00] holandes22 commented on #113
Yes, sorry long time. Been crazy at my 9 to 5. I'll revisit this during the weekend and open a PR

[2015-07-28 06:05] holandes22 opened #122 "Version 1.0 roadmap"
Hi guys,

Just opening this ticket to track what we need to release 1.0

Are we going to wait for Ember and Ember data 2.0 to come out or do you prefer to do a release before that?

The adapter is quite stable now so I think is time for a release.

Any big issues we need to address before that? We have 4 issues opened, do we need to close them all before 1.0?

[2015-07-28 11:57] benkonrath commented on #122
For me #113 should be done and if possible #116. I'd like to stick with our original plan of releasing 1.0 for Ember 1.13. We can bump to 2.0 for incompatible changes that land in Ember Data 2.

[2015-07-28 12:34] dustinfarris commented on #122
Agree with @benkonrath.  I want to release 1.0 asap; but the 2 issues mentioned need to be resolved first.

[2015-07-28 14:30] jpadilla commented on #122
@benkonrath @dustinfarris went ahead and tried progressing both those issues with #123 and #124.

[2015-07-28 20:59] #113 closed

[2015-07-28 22:22] dustinfarris commented on #122
Version 1.0.0 released in https://github.com/dustinfarris/ember-django-adapter/commit/db320476e7af8c01ac274d79b80c53005ab39e33

Really great work everyone!

/thanks @benkonrath @holandes22 @jpadilla @gone @citmusa and everyone else who contributed.  You guys rock!

[2015-07-28 22:22] #122 closed

[2015-07-29 08:15] benkonrath commented on #122
@dustinfarris Thanks to you too! :+1:

[2015-07-30 17:24] dustinfarris opened #125 "Example app"
I'm working on a repo to show a Django / Ember setup using the adapter.

Right now my plan is to demonstrate:

- Installing Django
- Installing and configuring Django REST Framework
- Building a simple API
- Installing Ember
- Installing and configuring the adapter
- Building a simple application using the Django API
- Authentication using ember-cli-simple-auth and django-oauth-toolkit

Then authe

[2015-07-30 22:07] kimroen commented on #121
Although I don't have a great solution, this issue is definitely something that stems from using ember-cli-coffeescript, not from using ember-django-adapter, so issue this can certainly be closed.

I tried to explain what is happening in the issue over there for the interested: https://github.com/kimroen/ember-cli-coffeescript/issues/87

Ideas for other solutions to explore would be appreciated!

[2015-07-30 23:00] dustinfarris commented on #121
Hi @kimroen, thanks for the update.  Will think on this—maybe there's something we can do to get it working.

[2015-08-01 12:02] rinti commented on #125
No suggestions, but looking forward to it! :) Especially the authentication bit. I managed to solve it on my own (basically copy pasting the devise one for simple auth and replacing it with djoser), but I would like to see a more correct way to do it.

[2015-08-01 14:26] benkonrath commented on #125
I'd like to contribute a pagination component to EDA and I think an example using this component would fit into your example well. But I don't have time to make a PR in the next few weeks so don't let this block your work on this demo.

I'm also looking forward to seeing the authentication example.

[2015-08-05 16:40] erichonkanen opened #127 "Deprecation warning"
hello,

I am using this package and receiving this deprecation warning which I think comes from this package.. Just fyi!

```DEPRECATION: Your custom serializer uses the old version of the Serializer API, with `extract` hooks. Please upgrade your serializers to the new Serializer API using `normalizeResponse` hooks instead.```

Im using latest ember/cli

[2015-08-05 17:53] dustinfarris commented on #127
Are you using ember-django-adapter v1.0.0?  This was addressed in the latest release.

[2015-08-05 19:03] erichonkanen commented on #127
let me check

[2015-08-05 19:04] erichonkanen commented on #127
nope was using 0.5.6, thanks!

[2015-08-05 19:04] #127 closed

[2015-08-05 19:05] dustinfarris commented on #127
Great!  Be sure to check out the release notes when you have a second:

https://github.com/dustinfarris/ember-django-adapter/releases/tag/v1.0.0

[2015-08-07 17:46] kevinwmerritt opened #128 "store.queryRecord error"
I have something like this:

[code]

The request is made successfully and I get an an array of one object back from django-rest-framework.
[code]
But I get this error:
[code]
Ember 1.13.5
Ember Data 1.13.7
EDA 1.0

[2015-08-07 19:37] mikkezavala opened #129 "Embedded Records"
Hi there, I've been trying to make that work, I have the adapter, and the relationships on the model,
but when it comes to retrieve the data the parent model gets from Django and inside comes the nested data, then when I try to access the embedded model/records, triggers again the queries (nested/1/, nested/2/)
Why? It isn't supposed gets mapped from the parent to the related model, or I got it wr

[2015-08-07 19:52] dustinfarris commented on #128
Thanks for reporting.  I'll look into this.

[2015-08-07 19:54] dustinfarris commented on #129
Hi there.  Can you share what your model looks like in Ember?  Also the query you are using to retrieve the information.

[2015-08-07 20:19] mikkezavala commented on #129
Sure :) Thanks a lot!
Just a really simple example of what I'm experiencing, also, when I remove the "async: true/false" some warnings come up.

[code]

[code]

The main REST request
[code]
And my /app/serializers/section.js looks like:
[code]
then when retrieving the "highlights" node/model:
triggers the respective REST Request for each "highlight"
** http://host.../api/highlights/2/ **
** http:/

[2015-08-07 21:10] kevinwmerritt commented on #129
@mikkezavala try:

[code]

```embedded: 'always'``` was not working for me either.

[2015-08-07 21:42] mikkezavala commented on #129
@kevinwmerritt That works! on ember 1.13.1, but in 1.13.7 worked with embedded: 'always', weird isn't?
Thanks guys for the help, would be great to keep this as a docs too, I have several colleges that had this issue too.!

[2015-08-07 21:42] #129 closed

[2015-08-07 21:46] dustinfarris commented on #128
This seems to be due to the paginated response not being handled properly.  In DS.RESTAdapter, `normalizeQueryRecordResponse` [proxies the server response](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/serializers/json-serializer.js#L267-L268) to `normalizeSingleResponse`.  We handle pagination in `normalizeArrayResponse`.

I'll work on a solution.

[2015-08-08 01:23] dustinfarris commented on #129
It sounds like a bug in Ember Data.  Are you saying you do or do not experience this issue in 1.13.7?

[2015-08-08 11:20] mikkezavala commented on #129
Yes, it looks like maybe the problems is in Ember Data, The problem appears on 1.13.1, but in 1.13.7 I don't have the issue, works perfectly

[2015-08-10 16:40] dustinfarris commented on #128
@kevinwmerritt just a quick update on this:  I've written a patch in #130 to handle the paginated data for queryRecord, but not 100% sure I'm going about it the right way.  I am discussing with the guys at ED—it's possible we've exposed a bug over there.

[2015-08-16 10:43] marius0 opened #131 "Response with nested errors"
Hi,

I'm maintaining an application where the error response from the server is given like this:

[code]

This results in a `Uncaught TypeError: payload[key].forEach is not a function`.

To get around it I have modified the `_drfToJsonAPIValidationErrors` function to look like this:

[code]

While this is good enough for me, could this be beneficial to others? Should I submit a PR?
And, should the

[2015-08-16 15:42] dustinfarris commented on #131
Thanks for reporting.  Would you mind sharing an example of a DRF serializer that would produce nested errors such as this?

[2015-08-19 17:58] erichonkanen commented on #121
I'll close this since it my issue has been resolved by just using javascript file instead of coffeescript file for this adapter...

[2015-08-19 17:58] #121 closed

[2015-08-19 18:00] erichonkanen opened #132 "serializer.pushPayload is not a function"
hello,

I am trying to push a record to the store that I get from a regular ajax callback.. tried using pushPayload but get `Uncaught TypeError: serializer.pushPayload is not a function`

any ideas why?

[code]

[2015-08-19 18:29] erichonkanen commented on #132
this seems to work though.. is there anyway to use the adapter from this package to automatically create json-api doc from my api response?

[code]

[2015-08-19 19:12] kevinwmerritt commented on #128
@dustinfarris have you given any thought to extending the RESTserializer instead of the JSONserializer as suggested here: https://github.com/emberjs/data/issues/3331#issuecomment-129525566

[2015-08-19 21:21] dustinfarris commented on #132
We are considering extending DS.RESTAdapter and DS.RESTSerializer (see #128).  pushPayload would be an added benefit of doing that.  Otherwise we'll have to implement this in EDA.  Thanks for reporting this.

[2015-08-19 21:22] dustinfarris commented on #128
@kevinwmerritt yes, I think it's a good idea.  I'll update my PR and kick the tires a bit.

[2015-08-19 21:25] erichonkanen commented on #132
ok cool, what is eda?

[2015-08-19 21:26] dustinfarris commented on #132
Ember Django Adapter :-)

[2015-08-19 21:27] erichonkanen commented on #132
doh duh! hah ok thanks

[2015-08-20 03:03] benkonrath commented on #128
For some background, I change to extending from JSONSerializer with the update to ED 1.13 because I had problems with the RESTSerializer and I read in the ED comments that adapters should extend  the JSONSerializer. I don't remember the exact issues I had but I can dig into this a bit as well since I'm the person who changed to the JSONSerializer.

[2015-08-20 12:10] dustinfarris commented on #128
Thanks, Ben.

[2015-08-28 06:53] benkonrath commented on #132
@erichonkanen Can you test the PR in #133 to see if it solves this problem? Thanks.

[2015-08-28 06:54] benkonrath commented on #128
PR is ready for testing in #133.

[2015-08-28 17:14] erichonkanen commented on #132
@benkonrath yep uno momento

[2015-08-29 13:51] giokokos commented on #125
Any update on this? It would be really useful to have a repo covering all the above to bridge the gap between Django and Ember application development.

I'm currently struggling to connect all the dots together especially when it comes to authentication. I've read @dustinfarris blog posts about Ember and Django authentication but they're outdated.

Thanks for working on this!

[2015-08-29 16:36] dustinfarris commented on #125
Hi @giokokos, this is moving along slowly.  Once we iron out Ember Data 2.0 compatibility I plan to refocus and get this over the finish line.  Sorry for the delay.

[2015-08-30 15:24] dustinfarris commented on #125
Also waiting for this to get merged: https://github.com/simplabs/ember-simple-auth/pull/602

[2015-08-31 00:37] ryanlitalien commented on #125
@dustinfarris There are instructions on how to get it working with your Ember 2.0 project at the top of the PR. :smiley:

[2015-08-31 00:49] dustinfarris commented on #125
I know.  But for an example repo I'd rather not have to explain that.

--Dustin J. Farris

On Sun, Aug 30, 2015 at 8:37 PM, ryanlitalien <notifications@github.com>
wrote:

[2015-08-31 14:45] #128 closed

[2015-08-31 14:45] #132 closed

[2015-08-31 14:47] benkonrath commented on #132
@erichonkanen Please reopen this issue if it's still causing problems for you.

[2015-09-01 10:41] rinti commented on #105
This duplicate issue - is it that I'm running into maybe?

I have an article with embedded events and send json like this
```{title: 'Hello', events:[{start: '2014-01-01', end: '2014-02-02'}]}```

and when I save this object my model has two events attached until i refresh the page. Any pointers as to how I should solve that? Calling .reload() on the model doesn't seem to help.

[2015-09-06 03:34] bierdybard opened #134 "'type' fieldname isn't allowed on models"
Hi all,

This started popping up after upgrading to EDA 1.1.0:

[code]

This seems to only be happening on an asynchronous load. The model in question is called 'ticket-type'. No issues with EDA 1.0.0; I upgraded to EDA 1.1.0 to facilitate the upgrade to Ember 2.0/ED 2.0.1, however I rolled back the Ember updates to the latest 1.13.x releases for both Ember and Ember Data and still get the error.

[2015-09-06 07:58] benkonrath commented on #134
Thanks for the bug report. Does this only happen with the 'ticket-type' model or with other models as well? Would it be possible for you to create a failing test case for this?

[2015-09-07 20:41] bierdybard commented on #134
Bear with me here, I'm trying to figure out the best way to get this in a test case.

I discovered with further debugging that the name of the relationship seems to be irrelevant. The value for the relationship (ticket -> ticket-type) is what ends up in "str"... the value is a number which corresponds to the primary key for the type. Oddly, this is not the only time primary keys are represented as

[2015-09-07 20:57] bierdybard commented on #134
Well, on a whim I made a change and it appears to have resolved the issue.

The relationship between 'ticket' and 'ticket-type' was called 'type.' I changed 'type' to 'system' on the API and frontend thinking there might be a conflict, and lo and behold the issue is gone.

I think the root of this may have been in RESTSerializer. If you guys want to investigate further please feel free, but this w

[2015-09-08 05:50] benkonrath commented on #134
Thanks for finding the issue. It looks like 'type' is a reserved field in the RESTSerializer so we should probably document this.
https://github.com/emberjs/data/blob/v2.0.0/packages/ember-data/lib/serializers/rest-serializer.js#L165

Here's the ember-data issue where this functionality came in.
https://github.com/emberjs/data/issues/3547

It might be better to fix this in our adapter (or in ember

[2015-09-09 22:43] dbinetti opened #135 "add PATCH support"
It would be quite useful to have PATCH support for updating model instances.  This would not only be more efficient, but is much easier to implement common use cases like updating user registration (where updating passwords, permissions, via PUT is a lot of overhead to manage.)

As a workaround, I am currently using the following on my adapter:

[code]

and the following on my serializer:

[code]

[2015-09-10 20:48] dustinfarris commented on #135
This is really smart.  I think we could essentially copy what you have done here into EDA.  Are there any gotchas?

Is it possible that depending on _inFlightAttributes could bite us later?

[2015-09-11 20:12] dbinetti commented on #135
This has worked for me for a while, but in all candor I straight-up cargo-culted this from someone else, so "copy code with caution"  :-P

[2015-09-11 20:13] dbinetti commented on #135
gi

[2015-09-17 19:46] benkonrath commented on #134
This bug might be causing the problem.
https://github.com/emberjs/data/pull/3725
I need to investigate a bit but I won't have time until next week.

[2015-10-06 13:15] peec commented on #131
@dustinfarris

Just got this issue as well I have a customer model that includes the "user" relation (one-to-one) and getting this:,

Example output that will make exception:
[code]

Causes this JS error:

[code]

The related DRF serializer:

[code]

[2015-10-06 13:21] dustinfarris commented on #131
Great, thanks for the example code.  I'll look into this.

[2015-10-09 21:08] dustinfarris commented on #131
See #137

[2015-10-10 16:49] benkonrath commented on #134
I investigated a bit and I'm pretty sure that this is the ember-data issue that's referenced above. This problem fixed in Ember Data v1.13.12. I don't think it's worth writing a test in EDA because it's an ember-data issue.

[2015-10-10 16:49] #134 closed

[2015-10-15 07:06] nouh opened #139 "When I try this plugin, DRF just reject my request with 406 error"
the response is such:  {"detail":"Could not satisfy the request Accept header."}

I inspect my accept header is: application/vnd.api+json

[2015-10-15 08:43] benkonrath commented on #139
The accepted header should be: `application/json`
What versions of ember, ember-data are you using? Do you have any special configuration of the adapter in ember-data?

[2015-10-19 09:29] #139 closed

[2015-10-19 14:40] #131 closed

[2015-10-23 07:39] peec opened #144 "CoalesceFilterBackend with pagination issue"
I currently have pagination enabled on all my models by default, this also seem to apply to coalesce filter, which means that only some of the related entities will load, the rest will get ember error:

[code]

Is there a way to disable pagination if CoalesceFilterBackend is active / `ids[]` are supplied?

I am currently looking into this, if I find a solution ill post some code here.

I followed

[2015-10-23 07:43] peec commented on #144
It turns out to be simple:

Just add `view.pagination_class = None`

Below is the code:

[code]

[2015-10-23 07:43] #144 closed

[2015-10-27 00:06] ericktm opened #146 "Ember Route - Adapter with no content"
Hello

I am with a 'little' problem to use ember-django-adapter.

I follow the instructions on docs, but when I call this.store.find('name') on my route, nothing is returned to template.

When I call this.store.query('name',{param1:123,param2:'abc'}), the meta attributes(pagination, count, etc) are populated, but content is not.

I don't know if it's a bug, or just my mistake. This is my configura

[2015-10-27 00:09] ericktm commented on #146
My environment:
[code]

[2015-10-27 02:59] dustinfarris commented on #146
@ericktm use findAll instead of find.

[code]

As for no records being returned, can you paste the output from your API?  e.g., if your api is at localhost:8000/api/ run:

[code]

[2015-10-27 08:10] benkonrath commented on #146
@ericktm You should also use the latest point release for Ember (1.13.10) and Ember Data (1.13.14). These versions have a lot of useful bug fixes.

[2015-10-27 14:58] ericktm commented on #146
@dustinfarris Hello, thank you for answer.

A changed to:

[code]

This is my response from server:

[code]

@benkonrath Thanks. I also upgrade packages to lastest versions. Ember 1.13.10 is not found. The last release from ember-cli repo is 1.13.8.

[code]

[2015-10-27 15:01] dustinfarris commented on #146
I noticed that your API endpoint does not have "s" on the end.  Is Ember Data pluralizing this and adding an S which is why there are no results?

Can you check the 'network' tab in chrome and find the request that is being made and see if it is correct.

[2015-10-27 15:12] ericktm commented on #146
Checking with Chrome Inspector, the server is called GET method. The response is the same as returned when I use curl or SoapUI.

[2015-10-27 16:16] ericktm commented on #146
Do you have some example project using django-ember-adapter? Maybe this can help

[2015-10-28 09:03] benkonrath commented on #146
There's not an example project that I am aware of. Can you create small project that demonstrates the issue that you are having? This will be the easiest way to for us help to investigate the problem. Thanks.

[2015-10-30 12:37] ericktm commented on #146
I 'll create a new project from zero in this weekend and publish into github for avaliation purposes.

[2015-11-05 07:55] indvinoth opened #147 "Unable to send meta data in GET response without including pagination attributes"
Currently we are invoking a GET request to Django with some filter parameters applied. The results wont be more than 20 or 30, so we are not using pagination.

The problem is we are unable to send meta data without the pagination attributes due to the following check in the `normalizeResponse` function

      if (!Ember.isNone(payload) &&
          payload.hasOwnProperty('next') &&
          paylo

[2015-11-05 09:20] benkonrath commented on #147
Thanks for letting us know about this issue. I didn't anticipate this use case when I developed the pagination support but I can adjust `normalizeResponse` to handle it.

[2015-11-05 09:30] indvinoth commented on #147
@benkonrath  thanks for your quick response. I will stick to current approach (sending dummy pagination attributes) till the `normalizeResponse` is adjusted :smile:

[2015-11-07 14:05] dustinfarris commented on #147
@indvinoth would you mind sharing your Django REST Framework view that is adding additional metadata?  I am curious about how this works.

[2015-11-08 19:49] indvinoth commented on #147
@dustinfarris  Sure

[2015-11-12 08:41] indvinoth commented on #147
Sorry for the delayed response @benkonrath, @dustinfarris. Diwali holidays here in India.

To make it work we have extended the default pagination class from Django and used it in the viewset. Count, next and prev meta are added as part of pagination and we have set the page size to 30 since the items will not be more than 20.

The following JSON response is received from the Django REST API.

[2015-11-16 15:30] dustinfarris commented on #147
Thanks @indvinoth.  Can you share the view (in Python) that is generating this response?

[2015-11-19 06:59] indvinoth commented on #147
Please find the code for view below which is generating the response.

View:

[code]
Pagination:

[code]

Actually the backend python code is written by another developer. If possible, I will try to loop him to this discussion.

[2015-12-19 00:42] ewilson commented on #47
I tried `new Date().toJSON().slice(0, 10)`, and that works. Seems a reasonable workaround.

[2015-12-29 20:03] dustinfarris commented on #47
@ewilson thanks.  That sounds like a candidate for a "date" transform.

[2016-02-12 18:15] bierdybard opened #149 "Encode coalesced/list queries as DRF expects"
When using coalesce or querying multiple values for a key, EDA and its ancestors encode the query parameters as such (à la PHP/Rails):

`?ids[]=1&ids[]=2&ids[]=3`

Out of the box, DRF can handle this:

`?id=1&id=2&id=3`

Would need to change this for coalesced .find as well as .query (it looks like they live in two separate places in upstream code).

Could this be fixed on the server end? Yes, but

[2016-02-12 18:42] dustinfarris commented on #149
Great suggestion.  I'd certainly be interested in a pull request from you.  As you probably know, we [currently suggest](http://dustinfarris.com/ember-django-adapter/coalesce-find-requests/#coalescefilterbackend) a server-side DRF filter to support this; but I see no reason or "use case" that warrants continued recommendation of this method.  Out-of-the-box support would be much better.

[2016-02-20 05:05] erichonkanen opened #150 "DRF CursorPagination"
Hello,

I am trying to implement pagination using the [CursorPagination](http://www.django-rest-framework.org/api-guide/pagination/#cursorpagination) class from drf, is this possible? I know the PageNumberPagination class works out of the box but I need to use CursorPagination and I am getting an error in the client when I switched to using it.

`message: "Assertion Failed: You must include an 'id

[2016-02-20 05:17] erichonkanen commented on #150
edit: I just noticed this http://dustinfarris.com/ember-django-adapter/pagination/#cursor-pagination

However I updated my `app/serializers/message.coffee` to below and I still get same error (added debugger and it seems like `extractPageNumber` isnt even called?)

[code]

[2016-02-20 10:48] dustinfarris commented on #150
@erichonkanen what version of ember-data and ember-django-adapter are you using?

[2016-02-20 18:12] erichonkanen commented on #150
@dustinfarris

    "ember-data": "1.13.9",
    "ember-django-adapter": "1.1.1",

[2016-02-22 08:45] benkonrath commented on #150
As far as I know, this addon isn't compatible with ember-cli-coffeescript (see #121). Is it possible for you to try with javascript just to narrow the problem down a bit?

[2016-02-22 17:29] erichonkanen commented on #150
@benkonrath @dustinfarris I narrowed it down to a conditional that failed in 1.1.1

https://github.com/dustinfarris/ember-django-adapter/blob/v1.1.1/addon/serializers/drf.js#L96

DRF doesn't return `count` in the payload so it always failed.. looks like that was removed in 1.1.2 though

[2016-02-22 17:29] #150 closed

[2016-02-23 09:42] benkonrath commented on #147
@indvinoth Thanks and sorry for the delay in getting back to you on this.

It looks like you'll still need to use the DRF pagination setup with the `CustomPagination` class to set your custom list metadata. This means you'd be using the DRF pagination setup for non-pagination metadata which seems like it's not a commonly agreed upon way to get this list metadata. I'm not saying that your approach

[2016-02-23 09:42] #147 closed

[2016-02-25 18:45] erichonkanen opened #151 "Example of pagenumber pagination with infinite scroll"
Hello,

I'm wondering if anyone has any examples of how to implement infinite scroll with PageNumberPagination? I'm kind of lost trying to figure it out.. right now I have my Route.model set to `this.store.query('model', params)` but not sure exactly how to do it etc... just wondering if anyone could help me out! thanks!

[2016-03-02 20:21] erichonkanen commented on #151
anyone have any input on this?

[2016-03-07 21:23] ryfo18 opened #152 "Question: Remove trailing slash from query?"
I'm doing the following in a route:

this.store.query("user", {auth_path: params.auth_path});

This issues a GET request to my API, but the url is formatted as: /api/users/?auth_path=auth_path_example

Is there an easy way to remove the trailing-slash after users in the url?

[2016-03-07 21:53] ryfo18 commented on #152
It appears this isn't really an issue for me. My apologies. I was able to make DRF work just fine w/ this format.

[2016-03-07 21:53] #152 closed

[2016-03-14 03:15] #151 closed

[2016-03-14 03:18] erichonkanen opened #153 "store.queryRecord empty response throws error"
Hello,

I am making a request to my backend that is returning an empty array (no records) as `[]`, however I'm now getting this `"Assertion Failed: store.queryRecord expected the adapter to return one record but the response from the adapter was empty."`

Is this something I need to change on my backend to use a json-api response where things are stuffed inside [{data: []}] or is this something th

[2016-03-14 12:55] benkonrath commented on #153
I think it should work so there might be a problem with the adapter. Which version of Ember, Ember Data and Django REST Framework are you using?

[2016-03-14 18:49] erichonkanen commented on #153
ember: 2.4.2, ember-data: 2.4.0, DRF: 3.2.4

[2016-03-17 21:01] benkonrath commented on #153
It looks like the tests are failing for Ember / Ember Data >= 2.1. That PR allows the tests to run again. I'll try to get look into this next week but I'm pretty busy at the moment so I can't promise anything. At least you can run the tests and maybe try to figure out what the problem is.

[2016-03-17 22:24] dustinfarris commented on #152
Sorry for not getting to this right away.  For reference we have some documentation on trailing slashes here: http://dustinfarris.com/ember-django-adapter/trailing-slashes/

[2016-03-25 00:01] tastebud opened #155 "XMLHttpRequest cannot load...."
Thanks for your work on this adapter.

I am receiving the following error on a GET request

`XMLHttpRequest cannot load https://api.quarqrace.com/api/v1/races/. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:4200' is therefore not allowed access.`

I found your answer to this situation on stackoverflow: http://stackoverflow.com/questions/3358

[2016-03-25 01:15] tastebud commented on #155
Using curl I was able to get a JSON response using -u and -H flags; without those flags I receive the same response headers.  Is there a way I can add these attributes to the headers to the request generated by ember-django-adapter?

Both curl requests are show below in case that helps.

Thanks again,
Wayne

Without the flags:
~ 🍔  curl -I https://api.quarqrace.com/api/v1/races/
HTTP/1.1 200 OK
Co

[2016-03-25 11:45] orf commented on #155
Your requests are going across origins, so they are subject to the cross origin resource sharing standard. There is no way to make your browser connect to 'api.quarqrace.com' without them setting the access-control-allow-origin heading.

One way around this is to make your API act as a proxy to the API in request, i.e "api.yoursite.com/api/v1/races" makes your backend make a request to "api.quarqr

[2016-03-25 16:25] tastebud commented on #155
Thanks for the response.  I was able to get the server team to update CORS headers and now things are running smoothly.

[2016-03-25 17:08] #155 closed

[2016-04-08 08:59] planetexpress69 opened #156 "Why does register-version.js still mentions 1.1.1?"
Just a probably stupid question as I a not that into the world of ember modules.

[2016-04-08 16:19] benkonrath commented on #156
It was just an oversight with the last release. See the comments on this commit:

https://github.com/dustinfarris/ember-django-adapter/commit/92b466b132df3b56610e5ee21ac1d8f0714402c6

[2016-04-08 16:19] #156 closed

[2016-04-08 17:02] planetexpress69 commented on #156
Thanks for letting me know!

--

[2016-04-23 16:39] pangratz commented on #153
@erichonkanen this is a regression which has been fixed in emberjs/data#4256 and is included in ember-data `v.2.5.0`. Can you try to update ember-data to this version and check if it works again as expected?

[2016-04-24 00:45] erichonkanen commented on #153
hey, ok yes let me try

[2016-04-29 10:25] dustinfarris commented on #153
@erichonkanen is this still an issue for you after upgrading ember-data?

[2016-04-30 18:47] erichonkanen commented on #153
closing for now as I haven't confirmed it but if it pops up again ill return

[2016-04-30 18:47] #153 closed

[2016-05-01 01:21] erichonkanen commented on #132
what is the recommended way to push an object into the store that is returned from an $.ajax() request? I seem to be getting issues using latest version:

`WARNING: Encountered "data" in payload, but no model was found for model name "datum" (resolved model name using client-web@serializer:user:.modelNameFromPayloadKey("data"))`

[code]

[2016-05-09 17:15] mdentremont commented on #135
This has been open for a little while and has gone a bit stale, here is the new version (which relies on `changedAttributes` instead of `_inFlightAttributes`, so should be much more robust.

Also, since this issue was filed I think the JSONAPIAdapter (the default Ember adapter) not uses PATCH by default for updates, so it would be really nice to follow suit.

Here's the code:

Adapter:
[code]

[co

[2016-05-13 15:55] dustinfarris commented on #135
@mdentremont thanks for bumping this.  yes i would appreciate a PR on this if you have time.

[2016-05-18 00:21] mdentremont commented on #135
@dustinfarris: I spent a little more time on this and it turns out PUT completely suits my current needs.. so I gave didn't go much further :S

[2016-06-01 12:18] zanderle opened #158 "Expand documentation"
I've found this add-on to be very helpful, but often the docs fall a bit short (especially for a newbie like me). For example 'Extending the adapter/serializer' - it's awesome to have that chapter, but it would be even better if it showed what an example extension might look like.
But that's just one example.

I'd love to help out, I'm just not sure I'm familiar enough with the project to do so.

[2016-06-01 12:19] zanderle commented on #158
Somewhat related to #125 I think

[2016-06-02 00:23] hoIIer opened #159 "how to handle errors?"
Hello,

Does this package support error handling to play nicely w/ember/json-api? I am noticing that my django rest backend is returning errors in 2 formats depending if it's an `ember-data` request or an `ember-ajax` request and I'm having to hack together error objects in the client...

With ember-data I am getting an error response which is an Array of objects that look like (this is what it lo

[2016-06-02 03:30] dustinfarris commented on #159
The object your getting in ember-data is JSON API format.  (the adapter does this intentionally)

See [docs for JSON API error objects](http://jsonapi.org/format/#error-objects)

ember-data wants the errors formatted this way.  The errors _should_ propagate to the object's `errors` attribute automatically for you.  e.g.:

[code]

[2016-06-02 03:38] erichonkanen commented on #159
@dustinfarris it does populate the `errors` property but it is in the format as above which makes it hard/ugly to strip out the field name...
[code]
ideally I wouldn't need that `_f = ...`

[2016-06-02 03:40] dustinfarris commented on #159
@erichonkanen you're reading errors from the response object, which gives you the raw JSON API object.  The idea is that ember-data will interpret that and propagate it to your ember data model that you were trying to save.  See above I am getting `errors` from the model, not the response.  Try that and see if you get a better result.

[2016-06-02 03:46] erichonkanen commented on #159
ok let me check..

[2016-06-02 04:09] erichonkanen commented on #159
@dustinfarris if I do `content.errors` how do I know which fields have errors?

[2016-06-02 04:13] dustinfarris commented on #159
@erichonkanen i'm not sure what the best javascript is to inspect the errors.  i usually just refer to them in the templates, e.g. (excerpt of a signup form—email field):

[code]

[2016-06-02 06:08] erichonkanen commented on #159
@dustinfarris ok closing this for now... for my use case I need to grab the data inside an action so ideally there'd be a cleaner way to get the field name but its not mission critical! thanks

[2016-06-21 07:03] erichonkanen opened #160 "Maximum call stack exceeded"
hello, I just rebuilt my docker images/containers and for some reason I'm suddenly getting a call stack exceeded error that *may* or may not be from this package... any ideas?

http://i.imgur.com/igJ6gtz.png

[2016-06-21 17:13] dustinfarris commented on #160
Have not seen this before.  Can you provide more info, perhaps what the payload was?

[2016-06-22 02:26] rodolfojcj opened #161 "How could I get the current page number when paginating?"
Hi, thanks for contributing this useful Ember adapter!

I'm playing with integrating a project of mine based on DRF 3.3.3 and Ember.js with Ember Data 2.6.0 and ember-django-adapter 1.1.2.

Right now in an HBS template file that lists the instances of some given model I have something like this:

[code]

However, I would like to know how to do something like this in the same HBS template file:

[c

[2016-06-22 02:41] rodolfojcj commented on #161
By the way, I have another question.

Besides having a variable with the value of the current page number when paginating, do you foresee another way to get a link to each individual page available in the full pagination set? I mean, something like the example showed at [Displaying links to individual page numbers](http://emberigniter.com/pagination-in-ember-with-json-api-backend/#4-displaying-lin

[2016-08-03 18:43] dpatterson-aio commented on #160
i'm seeing this as well, when the server returns a 400. it seems that the DRF adapter expects the server's error message to be in a specific format, and gets into an infinite loop trying to read the message, when it is not in this format.

for example, we have an `asset` model, and running
[code]
doesn't log anything. the console shows that Maximum call stack exceeded error, and a little digging s

[2016-08-10 04:10] Zorig opened #162 "How to get nested model data"
Hi, I am using Django(1.9) DRF(3.4)+Ember2.6, ember-django-adapter. I have tried using [stackoverflow in this url](http://stackoverflow.com/q/38840554/2629235) But no answer. I want to get tasks under project id. I have tried embedded records mixin but no luck. Can anyone help me to figure this out?

I got following response on this url `http://localhost:8000/api/projects/4` :

    {
        "id":

[2016-08-10 17:14] dpatterson-aio commented on #160
do you think this is a problem with `ember-django-adapter`, in that it's too sensitive/unable to detect unformatted error messages? or is there an assumption that django apps must always format their 400 messages in this way?

[2016-08-10 19:40] dustinfarris commented on #160
@dpatterson-aio yeah it looks like there needs to be a fallback for errors not stemming from DRF serializers.  Guessing this should probably skip trying to parse the errors altogether and just fail with the raw server response.

[2016-08-10 19:43] dustinfarris commented on #162
Commented on your SO post

[2016-08-10 19:43] #162 closed

[2016-08-22 11:44] Sinled opened #163 "Allow addon to be used as a nested addon"
Currently there is a problem when you try using addon inside other addon,
build will fail because of wrong parameter passed to included function of addon,
see details:
ember-cli/ember-cli#3718

[2016-08-23 15:40] dustinfarris commented on #163
What addons are using ember-django-adapter?

[2016-09-02 10:40] benkonrath commented on #160
@dpatterson-aio Can you see if #165 solves your problem?

[2016-09-02 11:24] dpatterson-aio commented on #160
@benkonrath awesome -- looks like it will! i'll let you know

[2016-09-02 17:28] Sinled commented on #163
In our company we have whole application as ember addon.

[2016-09-02 22:01] dustinfarris commented on #160
@dpatterson-aio as soon as you confirm this is resolved on master we'll get a release out

[2016-09-04 12:53] #163 closed

[2016-09-04 12:53] dustinfarris commented on #163
Closed in #164

[2016-09-04 12:54] dustinfarris commented on #160
/cc @orf

[2016-09-04 18:41] orf commented on #160
Hey, I can't test this as I'm off on my holidays. Sorry!

[2016-09-06 12:01] dpatterson-aio commented on #160
@dustinfarris confirmed -- this issue is resolved for me on master. thanks!

[2016-09-06 17:56] dustinfarris commented on #160
Great, thanks for confirming!

[2016-09-06 17:56] #160 closed

[2016-09-11 03:25] erichonkanen opened #166 "Can't install latest 1.1.3 via npm"
![image](https://cloud.githubusercontent.com/assets/230757/18414965/b23ea2d2-7794-11e6-9ca7-77a11da4a490.png)

[2016-09-11 21:22] erichonkanen commented on #166
`npm show ember-django-adapter` shows 1.1.2 for me

[2016-09-12 16:07] dustinfarris commented on #166
Thanks for reporting—forgot to publish to npm.  You should be able to install it now.

[2016-09-12 16:07] #166 closed

[2016-11-13 02:21] erichonkanen commented on #159
hello, I'm back.. so I'm running into this again and trying to wrap my head around error handling. We are running into an issue where we need to also include the http `status_code` and an application-level `code` key in the json-api error. How should we handle this? Do I need to modify django-rest-framework to include that information and if so in what format?

[2016-12-01 02:20] vecdeque opened #168 "DEPRECATION: The adapter returned an array for the primary data of a `queryRecord` response. This is deprecated as `queryRecord` should return a single record."
First off, thanks for the excellent work on this addon. Ive used it on a number of projects and it has saved me a ton of time.

Ive recently made the jump to the 2.10.x series of ember-data, and began receiving this deprecation warning.

```DEPRECATION: The adapter returned an array for the primary data of a `queryRecord` response. This is deprecated as `queryRecord` should return a single record.

[2016-12-01 17:21] dustinfarris commented on #168
Thanks for reporting!  I've started the process to upgrade the internal ember-cli for this addon (currently 1.13).  There are now 2 LTS versions of ember out and it's time to drop support for <2.0.

Once that's done we can address this deprecation.

[2016-12-10 20:22] bleib1dj opened #169 "Adding headers to requests"
We're trying to pass an API key via a header definition to my Django application. We've modified the adapter file (`adapters/application.js`) in the following way:

[code]

We didn't see any documentation outlining how to add headers to the request. So perhaps this is expected behavior rather than an issue. If that's the case I would request the ability to add headers to the adapter.

[2016-12-10 21:45] dustinfarris commented on #169
Hey @bleib1dj!  You did it right!  DRFAdapter extends RESTAdapter which provides the [headers hook](http://emberjs.com/api/data/classes/DS.RESTAdapter.html#toc_headers-customization) that you are using.  Is it not working?

[2016-12-10 21:47] bleib1dj commented on #169
Hey @dustinfarris thanks for the quick reply! It doesn't appear to be. If I send an equivalent request using postman with the header set the API responds to the request with a 200. I'm working on getting the actual request being generated by the adapter so that I can specifically identify that the header isn't being added.

[2016-12-10 21:53] dustinfarris commented on #169
Ok!  Let me know what you find

[2016-12-11 01:08] bleib1dj commented on #169
@dustinfarris turned out to just be a slew of CORS issues. The first being not adding the custom header to `CORS_ALLOW_HEADERS` on the Django side and then some CORS configuration issues on our API Gateway. My apologies for wasting your time :/. Thanks for the assistance though! Was good to know that I was at least on the right track on the ember side!

[2016-12-11 01:08] #169 closed

[2016-12-18 05:25] erichonkanen opened #170 "What are the advantages/disadvantages of using this package vs django-rest-framework-json-api?"
I'm just curious if there are any tradeoffs for handling this on the client versus the backend? We've been using this package for awhile but we're debating moving to handling it on the server with https://github.com/django-json-api/django-rest-framework-json-api to take advantage of json-api spec exception handling and to trim the client down... Curious if anyone has input on this?

[2016-12-25 21:05] gandalfar opened #171 "Fastboot - Error: The adapter operation was aborted"
Anyone got ember-django-adapter working with Fastboot? When I'm trying it with a simple app (just one model and ember-django-adapter), I get the following stacktrace:

[code]

`routes/posts.js`
[code]

[2016-12-26 08:54] gandalfar commented on #171
I forgot to mention that Fastboot still works, it would just probably be better if it didn't emit error.

[2016-12-27 01:57] dustinfarris commented on #171
@gandalfar thanks for reporting, will look into this.

[2017-01-05 02:28] dustinfarris commented on #170
both are great approaches.  choosing one likely depends on your API needs.  if JSON API clients (Ember) are your _only_ clients, then modifying DRF directly could make sense.  if you have other clients already depending on the existing DRF format, and want to add Ember into the mix, then Ember Data adapter is the right tool for you.

[2017-01-05 02:28] #170 closed

[2017-01-05 05:50] erichonkanen commented on #170
@dustinfarris do you have any input on adding custom app-level error codes when using this?

[2017-02-02 04:51] hairetdin opened #176 "upload file"
Hi!
- How can I upload file through the EDA?
- I tried to use ember-cli-form-data, but it creates formdata and sends to DRF (with FormParser) and DRF does not receive the necessary data

[2017-02-06 15:07] woosungchu opened #177 "Why embedded record is not populated with Ember.Model?"
I am trying to send embeded roced to Ember app and follow http://dustinfarris.com/ember-django-adapter/embedded-records/ guide. But it seems not working.

This is response from DRF show, author is embeded in Ember.Model

    //HTTP Response
    {"id":21,"author":{"id":43,"password":~~cut~~user_permissions":[]},"title":"Untitled"}

app/seriaizer/map.js

    import DRFSerializer from './drf';
    im

[2017-02-06 15:40] woosungchu commented on #177
Ember                : 2.9.1
Ember Data           : 2.10.0
jQuery               : 3.1.1
Ember Django Adapter : 1.1.3
Ember Simple Auth    : 1.1.0

#162 - not helpful
#129  -tried this solution but not working

[2017-02-07 13:04] #177 closed

[2017-02-07 13:05] woosungchu commented on #177
Close the issue with shame... (it has but not shown in console..)

[2017-02-24 20:39] greenkeeper[bot] opened #179 "An in-range update of loader.js is breaking the build 🚨"
## Version **4.2.0** of [loader.js](https://github.com/ember-cli/loader.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dustinfarris/ember-django-adapter/compare/greenkeeper%2Floader.js-4.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      loader.js
    </td>
  </tr>
  <tr>
    <

[2017-04-28 20:26] greenkeeper[bot] opened #190 "An in-range update of ember-data is breaking the build 🚨"
## Version **2.13.0** of [ember-data](https://github.com/emberjs/data) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dustinfarris/ember-django-adapter/compare/greenkeeper%2Fember-data-2.13.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-data
    </td>
  </tr>
  <tr>
    <th

[2017-05-09 14:45] greenkeeper[bot] opened #192 "An in-range update of ember-cli-htmlbars is breaking the build 🚨"
## Version **1.3.1** of [ember-cli-htmlbars](https://github.com/ember-cli/ember-cli-htmlbars) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dustinfarris/ember-django-adapter/compare/greenkeeper%2Fember-cli-htmlbars-1.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-htm

[2017-05-15 12:46] sergafts opened #195 "Correctly serialize lists of URLs for nested relationships"
When reading the guides, I understood that related fields represented using nested URLs are understood by the `drf` serializer & the relationships were resolved automatically.

URLs in a json hash for hasMany and belongsTo relationship fields will
automatically be retrieved and added to the store.

However, this does not seem to be the case.

My API is structured as such:

[code]

On the Ember sid

[2017-06-02 17:38] greenkeeper[bot] opened #196 "An in-range update of ember-disable-prototype-extensions is breaking the build 🚨"
## Version **1.1.2** of [ember-disable-prototype-extensions](https://github.com/ember-cli/ember-disable-prototype-extensions) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dustinfarris/ember-django-adapter/compare/greenkeeper%2Fember-disable-prototype-extensions-1.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      D

[2017-06-05 11:33] benkonrath commented on #195
Sorry for the late reply. I'm ok with supporting `HyperlinkedModelSerializer` out of the box but I would want to keep the current behavior as well. The documentation would need to be updated as well to mention both options with a short explanation of the pros & cons.

@dustinfarris What do you think?

[2017-06-06 09:37] sergafts commented on #195
I feel that, at least for now, the documentation should be updated to state that the only supported implementation is the `HyperlinkedIdentityField` one and that nested URLs are not supported and afterwards we could discuss how to implement this. It is quite misleading at the moment.

[2017-06-06 09:49] benkonrath commented on #195
Sounds like a good plan. It would be much appreciated if you could make a pull request to improve the documentation about this. Thanks.

[2017-07-14 21:32] greenkeeper[bot] opened #202 "An in-range update of ember-cli-inject-live-reload is breaking the build 🚨"
## Version **1.7.0** of [ember-cli-inject-live-reload](https://github.com/rwjblue/ember-cli-inject-live-reload) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dustinfarris/ember-django-adapter/compare/greenkeeper%2Fember-cli-inject-live-reload-1.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>

[2017-11-01 16:06] #179 closed

[2017-11-01 16:06] #190 closed

[2017-11-01 16:06] #192 closed

[2017-11-01 16:06] #196 closed

[2017-11-01 16:06] #202 closed

[2017-11-01 16:08] dustinfarris opened #205 "Upgrade ember-cli"
ember-cli needs to be upgraded in order to address other outstanding issues.  This is probably a full day of work.  If anyone has time to take a stab at this it would be much appreciated.

[2017-12-04 15:05] #205 closed

[2017-12-06 20:53] rmharrison commented on #161
Following [Django Paginator](https://docs.djangoproject.com/en/1.11/topics/pagination/#id2), `Page.number` --> `meta.number` would be a sensible serialisation.

Unfortunately, the [default django adapter](http://www.django-rest-framework.org/api-guide/pagination/#pagenumberpagination) doesn't support `number` (only `next`, `previous`).

The easiest work-around would be to manually include `number`

[2017-12-10 19:28] kolybasov commented on #168
@dustinfarris I am sure #207 resolved this and maybe some another issues.

https://github.com/kolybasov/ember-django-adapter/blob/7d391fd92932ab6bee04706d4caf9216b5e25b32/addon/serializers/drf.js#L123-L128

[2017-12-10 22:29] dustinfarris commented on #168
@vecdeque please reopen if you continue noticing this after upgrading.

[2017-12-10 22:29] #168 closed

[2017-12-11 10:16] benkonrath commented on #161
It makes sense to me that we include the current page number as a computed property. I'm a bit out of the loop on this project these days so I'll defer the final decision to @dustinfarris. If he agrees, then you're welcome to make a PR to add the feature.

[2017-12-11 16:57] dustinfarris commented on #161
I like it!  PR would be welcome!

[2017-12-14 12:33] gandalfar commented on #171
No more errors with 2.0.0 for me. Thanks for maintaining this adapter!

[2017-12-14 12:33] #171 closed

[2017-12-26 13:45] injaon opened #208 "Dependecy problem with ember-inflector"
I have an unmet dependency with EDA 2.0.0 and ember-data 2.12.2. This is output of npm:

![screenshot from 2017-12-26 10-43-30](https://user-images.githubusercontent.com/1711687/34357903-bc12f3fe-ea29-11e7-82b4-e55bd3df82c4.png)

I just want to let you know. As long as I use ember 2.12.x i'll stay with EDA 1.1.3

[2018-02-25 07:11] kolybasov commented on #208
@dustinfarris @injaon I guess `ember-inflector` dependency may be moved to peer dependencies or just check what version required by minimum supported ember-data version.

[2018-03-26 13:58] OleRoel opened #210 "Update to Ember-Data v3.0"
My environment:
[code]

The EDA 2.0 is still depending on `"ember-data": "^2.17.0"`, which is finally resolved as `ember-data-2.18.2`.

I am currently developing an Ember FastBoot app and get connection errors for my REST API. This doesn't happen when the app is running as a regular Ember app. The FastBoot log doesn't give you a good hint where the problem lies, but in research for the cause of th

[2018-03-27 23:48] dustinfarris commented on #210
probably the right way forward here is to bump our dependency to ^3.0.0 and then do a major version release of ember-django-adapter as well

@OleRoel are you comfortable sending a pull request bumping the ember-data version?

[2018-03-28 07:33] OleRoel commented on #210
Yes, I will do the pull request.
In the meantime: `yarn` allows Ember-Data version to be forced to version 3 by adding
[code]
to the package list: https://yarnpkg.com/lang/en/docs/selective-version-resolutions/

[2018-06-14 15:37] Sinled commented on #210
Any updates on this?

[2018-06-14 15:49] OleRoel commented on #210
Yes, I did a pull request which wasn't accepted by the CI:

https://github.com/dustinfarris/ember-django-adapter/pull/211

There was no response to my comment on this and I probably was a bit lazy to go deeper with my investigations, so the pull request didn't progress since Mach, 21st.

[2018-07-01 16:54] OleRoel commented on #210
@dustinfarris can you take a look at my pull request https://github.com/dustinfarris/ember-django-adapter/pull/211? I'ld think that the you may have better insight than me if the one failing check that makes the acceptance test fail is really caused by the update to ember-data 3.0.0.

[2018-07-02 14:23] OleRoel commented on #210
@dustinfarris @Sinled The acceptance test seems to fail because the test runner gets destroyed before the last test https://github.com/dustinfarris/ember-django-adapter/blob/b06a2127d8d9204bbb042002a0982af175aa108b/tests/acceptance/crud-failure-test.js#L219 has had the chance to finish up the save operation.

This is discussed here:

https://github.com/danielspaniel/ember-data-factory-guy/issues/1

[2018-07-02 14:44] OleRoel opened #212 "Acceptance test fails because CRUD operation didn't finish up before app shutdown"
The pull request https://github.com/dustinfarris/ember-django-adapter/pull/211 got rejected by acceptance test. The reason is that the test app shuts down before the save operation has finished his task. The fix for unit tests is described here:

https://github.com/danielspaniel/ember-data-factory-guy/issues/104

and here:

https://github.com/emberjs/guides/issues/909

[2018-07-07 10:59] danielspaniel commented on #210
glad this issue was here.  ember-data-factory-guy was barfing because of the multi ember-data resolution, so
  "resolutions": {
    "ember-data": "3.2" // or whatever version
  }
was a great fix for time being, but this should still be fixed

[2018-08-27 14:35] dustinfarris commented on #212
Hi @OleRoel, thanks for digging into this.  Any chance you can send in a fix?

[2018-08-27 20:32] OleRoel commented on #212
@dustinfarris yes, I will try to to fix the unit test tomorrow and send you a pull request. It only depends on my workload.

[2018-08-28 22:34] archebyte commented on #210
Same issue here, runing Django REST Adapter 2.0.0, will use yarn resolutions to see if it gets around this for now.

[2018-08-30 04:38] differentMonster opened #214 "Generate adapter and serializer in pods"
isit possible to generate adapter and serializer inside pods ?

tested
ember generate drf-adapter/drf-seralizer resource --pod

[2018-09-27 18:58] OleRoel commented on #210
I think it depends on the fix for the failing acceptance test, which is an reported issue: https://github.com/dustinfarris/ember-django-adapter/issues/212

My bad, I haven't found time yet to fix this tiny problem-living in a start-up world sometimes put things on a higher priority in your todo list than fixing the obvious problems. I will try to do the fix for the acceptance test asap.

[2018-09-27 19:46] aaronlelevier commented on #100
I had a similar error.

In one project, I had `ember-cli-mirage` and `ember-django-adapter` working together and the other it didn't.

Here is the stack trace from my error:

[code]

Upon inspecting the difference between the projects, I had imported the add-on differently in `app/adapters/application.js`.

One had:

[code]

The other had:

[code]

The latter with the full path import worked and f

[2018-11-08 17:48] gojefferson commented on #210
+1 on requests above to fix this. Being stuck on 2.x of Ember data not great.

[2018-11-28 13:23] benmurden commented on #212
@dustinfarris @OleRoel I'm working on this now and will hopefully have something for you soon.

[2018-11-28 13:42] OleRoel commented on #212
@benmurden Thanks a lot! I had a lot of other things to handle in the last months and appreciate that someone else picks up  the task.

[2018-12-03 04:33] benmurden commented on #210
#215 Will fix this.

Using newer `ember-source` with old `ember-data` is causing a lot of deprecation warnings, so it would be nice to see this merged soon.

[2018-12-10 11:13] #212 closed

[2018-12-10 19:20] OleRoel opened #216 "CircleCI fails with pip install mkdocs"
CI fails in the deployment step, because `sudo pip install mkdocs` seems to have a sub-dependency with "tornado>=5.". Tornado again complains about the following:

```Tornado requires an up-to-date SSL module. This means Python 2.7.9+ or 3.4+ (although some distributions have backported the necessary changes to older versions).```

This make the deployment fail.

[2018-12-11 00:37] benmurden commented on #216
Let me know if I can help with this.

[2018-12-11 09:07] OleRoel commented on #216
@benmurden
Thank you for you offer!
As stated [here](https://github.com/dustinfarris/ember-django-adapter/pull/215#issuecomment-445931482) do I try to set up a CircleCI 2.0 config file on the fork in my repository [here](https://github.com/OleRoel/ember-django-adapter/blob/circleci-20-test/.circleci/config.yml). I am a bloody beginner with CircleCI, so any help is appreciated.

[2018-12-11 11:37] OleRoel commented on #216
@benmurden @dustinfarris
This is _almost_ working on my repository

[code]
The deployment step is not working, because the .circleci/config.yml is not part of the gh-pages branch. This leads to the following error in the deploy step:

[code]

I am now looking into the resolution of this issue.

Besides this: any objections against the config above?

[2018-12-11 20:32] OleRoel commented on #216
@benmurden

I made some progress:
* added build job
* added test job
* added deploy job
* workflow is functional

The only things that drives me nuts is the deploy task. I am using a script that should fetch the branches and checkout gh-pages. But something is not working correctly while checking out the gh-pages branch. [Line 37](https://github.com/OleRoel/ember-django-adapter/blob/circleci-20-te

[2018-12-12 01:09] benmurden commented on #216
@OleRoel Thanks for taking the time to look at this in depth! I'll try to pick up where you left off and see if I can get something going.

[2018-12-12 03:33] benmurden commented on #216
@OleRoel I didn't encounter the issue you mentioned when deploying to CircleCI.

https://circleci.com/gh/benmurden/ember-django-adapter/2

When enabling the push lines, CircleCI throws an error because, by default, it doesn't have write access to the repo. The guide you posted suggests making a machine user, but I didn't much like that idea, so I added a new read/write key to my fork, added that t

[2018-12-12 08:52] OleRoel commented on #216
@benmurden
That sounds great! The problem on my side might have been caused by the empty gh-pages branch  in my repo, because I accidentally removed them in my monkey-typing attempt to make the script work.

And, no - I have no access. But why not making a PR and fix this in CircleCI when it is not working there? When you make the PR, can you also clean up the script a little bit like removing the

[2018-12-13 00:39] benmurden commented on #216
@OleRoel Good point about the prior doc generation working. I'll make a PR then, which will likely fail without the environment variables, but can be fixed fairly easily on CircleCI.

I assume that if CircleCI already has write access, we don't need a machine user, unless I'm missing something else it enables.

[2018-12-13 03:59] benmurden commented on #216
Made a PR for this #217

[2018-12-13 13:46] OleRoel commented on #216
@benmurden
Thank you for taking over. It is a real pleasure to collaborate with people that picks up your 'not so beautiful' code, dig deeper and create a much better solution. I like working constructively on an issue this way :-)

[2018-12-14 00:31] benmurden commented on #216
@OleRoel Thanks! You built the runway, I flew the plane. :)

[2018-12-16 14:05] #216 closed

[2018-12-16 14:11] dustinfarris commented on #210
@benmurden [CI is failing](https://circleci.com/gh/dustinfarris/ember-django-adapter/446) on master for ember-canary.  Would you mind taking a look?

[2018-12-16 16:02] OleRoel commented on #210
@benmurden @dustinfarris

The culprit lies in the canary build not returning a response string:

https://github.com/dustinfarris/ember-django-adapter/blob/master/tests/acceptance/crud-failure-test.js#L96

https://github.com/dustinfarris/ember-django-adapter/blob/master/tests/acceptance/crud-failure-test.js#L112

This leads to:

[code]

[2018-12-18 10:42] benmurden commented on #210
@OleRoel Thanks for looking into this. These tests are not idempotent, so it'll be worth running them again when the issue is fixed upstream.

[2018-12-18 14:04] OleRoel commented on #210
@benmurden @dustinfarris
Should we ask upstream if someone is working on the issue or just wait for things to happen?

[2019-01-09 23:32] benmurden commented on #210
Canary is likely to be flaky, so I wonder if it's a good idea to make its passing optional.

[2019-01-10 15:36] dustinfarris commented on #210
I'm fine with that.  Can you send a PR?
--
Dustin Farris
(646) 671-2007

[2019-01-14 00:30] benmurden commented on #210
#218 has this update

[2019-01-14 15:42] dustinfarris commented on #210
Fixed in #215

[2019-01-14 15:42] #210 closed

[2019-07-08 14:00] ef4 opened #219 "Easy to get multiple versions of ember-data"
This addon has a direct dependency on ember-data. That's a problem because it means it's likely to bring its own version that is different from what the app is using. This causes ember-cli to smash together both versions and include all the resulting files in your app, which is... not great.

This addon should probably move ember-data to `peerDependencies` so that it's guaranteed to share the same

[2019-07-17 06:29] benmurden opened #221 "Website/Documentation 404"
Readme currently shows "Website" as http://dustinfarris.com/ember-django-adapter/, which returns a 404. As far as I know, the documentation is not hosted anywhere else.

[2019-08-02 21:32] dustinfarris commented on #221
Thanks, I'll work on getting this back up

[2019-08-05 15:20] dustinfarris commented on #219
Fixed in #220

[2019-08-05 15:20] #219 closed

[2019-09-30 21:23] gojefferson opened #226 "Import AdapterError and InvalidError from "DS" object"
See: https://github.com/dustinfarris/ember-django-adapter/pull/225

This is the easiest way to ensure compatibility from 2.16 to the latest of Ember Data. This PR should pass CI, and it will enable user's of ember-django-adapter to upgrade to the latest version of Ember Data (currently they cannot).

[2019-09-30 23:22] dustinfarris commented on #226
Fixed in #225

[2019-09-30 23:22] #226 closed

[2019-11-05 16:39] gojefferson opened #228 "No release with latest commits"
Hey @dustinfarris could you please create a new release? The current release doesn't include some of the recent bugfixes, and it's not compatible with the current version of ember data.

BTW, if you'd like to add me as a maintainer of this repo, I would be happy to create the release.

[2019-11-06 15:33] dustinfarris commented on #228
Thanks for volunteering.  Yes, I could use help maintaining this.  You've been invited to be a collaborator here—would you mind taking care of the version bump as well?

Please see https://github.com/dustinfarris/ember-django-adapter/commit/489d0113eedc8b5efee0604a12f5af6df094a911 for version bump example.  (note the two places that the version number needs to be updated)

I also typically copy+pa

[2019-11-06 15:57] gojefferson commented on #228
Yep, I'll handle the version bump. My npm account is casefleet: https://www.npmjs.com/~casefleet

[2019-11-06 16:23] dustinfarris commented on #228
Great!  Invitation sent.  Thanks for doing this.

[2019-11-06 16:23] #228 closed

[2019-11-07 15:12] gojefferson commented on #228
Done. Let me know if I missed anything or did anything incorrectly @dustinfarris

[2019-11-07 15:14] dustinfarris commented on #228
Looks great.  I did add my opinion to your PR, but I don't think it's worth reverting anything.  Thanks again.

[2019-12-04 17:32] Subaku commented on #221
Wanted to give this a bump. In need of this addon but can't get to the documentation.

[2021-02-12 22:25] creyD commented on #221
That must have been a huge outage... @dustinfarris

[2021-07-05 15:24] Parrryy commented on #221
Yeah still down, do you need help at all?

[2021-07-08 02:01] gojefferson commented on #221
Hi @Parrryy, maybe the documentation could be re-posted as a wiki on GitHub. Do you have any experience setting them up?

[2021-07-08 02:07] dustinfarris commented on #221
Sorry for the radio silence.  Yes I need help with this.  Open to ideas and happy to do whatever needed administratively.  I will open a general request for maintainers in a separate issue.

Dustin

Sent from my iPhone

[2021-07-08 10:43] Parrryy commented on #221
@dustinfarris Happy to help where I can. @gojefferson Not particularly but happy to look into and help out.

[2021-07-11 22:15] dustinfarris commented on #221
I've updated the domain/url to dustinfarris.github.io/ember-django-adapter which should solve the http error issues.  The formatting and content of the docs could use some love if anyone cares to contribute.

[2021-07-11 22:18] #221 closed

[2021-08-28 00:47] ariouss commented on #47
Hello im use reactjs for front-end and django rest framework for back-end and i want react just send date to backend but i dont know how can i do that ? and my datepicker jost input date but react send datetime for backend. any solution ?

[2022-03-20 21:56] #159 closed